<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Community</h1>
</div>

<div class="block2">
<{markdown}>

Author/Main Developer
---------------------

 - pancake
<{/markdown}>
</div>

<div class="block2">
<{markdown}>

Project Leaders
---------------

 - crowell
 - jvoisin
 - maijin
 - xvilka

<{/markdown}>
</div>

<div class="block2">
<{markdown}>
Historical
----------

- dso
- earada
- nibble
<{/markdown}>
</div>

<div class="block2">
<{markdown}>
Recently Active
---------------

 - NighterMan
 - Skia
 - condret
 - TheLemonMan
 - inisider
 - jfrankowski
 - milabs
 - montekki
 - pwntester
 - skuater
<{/markdown}>
</div>

<div class="block2">
<{markdown}>

Contributors
------------

 - 0xroot
 - Alexander
 - Anton Bolotinksy
 - Glyn Kennington
 - Henrik Nordstrom
 - Julien Nabet
 - Riccardo Schirone
 - Sirmy
 - capi_x
 - cosarara
 - dkreuter
 - dx
 - eddyb
 - elektranox
 - esanfelix
 - esteve
 - fenugrec
 - fl4shk
 - graz
 - l0gic
 - neuroflip
 - newlog
 - nion
 - ora8
 - oxff
 - pof
 - rudi_s
 - rvalles
 - schrotthaufen
 - timstrazz
 - trndr
 - vext01

<{/markdown}>
</div>

<{include}>tail.tmpl<{/include}>
