<{include}>zh/head.tmpl<{/include}>
<div class="header">
  <h1> 文档 </h1>
</div>
<br />

<div class="block2">
<h3> 图书 </h3>
<ul>
<li> 最初的 radare1：<a href="/get/radare.pdf"> PDF </a> 和 <a href="#"> HTML </a> 格式
<li> Radare2 最新的 <a href="http://radare.gitbooks.io/radare2book/content/"> 书（gitbook）</a>
<li> Persian <a href="/get/radare2book-persian.pdf"> 翻译 </a>
<li> 参与贡献：<a href="https://github.com/radare/radare2book"> radare2book 图书源码 Git 库 </a>
</ul>
</div>

<div class="block2">
<h3> 文档 </h3>
<ul>
<li> 检出 <a href="https://github.com/radare/radare2/wiki"> wiki </a> 首页
<li> <a href="/vdoc"> VAPI </a> 文档
<li> 浏览 <a href="https://github.com/radare/radare2/"> 代码 </a>
<li> 检查一些 <a href="https://github.com/search?q=radare2"> 示例 </a>
</ul>
</div>

<div class="block2">
<h3>Blog</h3>
<{markdown}>

- [可视化模式](http://radare.today/visual-mode/) 简介
- 二进制 [比较](http://radare.today/binary-diffing/) 字符、delta 和 代码层面
- [Rop'n'Roll](http://radare.today/ropnroll/)
- [C 有效载荷](http://radare.today/payloads-in-c/)
- 显示 [类型](http://radare.today/types/) 和使用 pf 数据格式化
- 雕刻 [二进制](http://radare.today/carving-bins/)

<{/markdown}>
</div>

<div class="block2">
<h3> 脚本 </h3>
<{markdown}>
* 通用 [r2pipe](https://github.com/radare/radare2/wiki/R2PipeAPI) API
* Javascript 和 NodeJS [教程](http://radare.today/javascript-in-r2/)
* Python 绑定 (swig, ctypes 和 [r2pipe](https://github.com/radare/radare2-bindings/tree/master/python))
* Go [r2pipe](https://github.com/radare/radare2-bindings/tree/master/go)
* [Vala](https://wiki.gnome.org/Projects/Vala) 和 Genie
<{/markdown}>
</div>

<{include}>zh/tail.tmpl<{/include}>
