<{include}>zh/head.tmpl<{/include}>
<div class="header">
  <img class="logo" height="127" width="296" src="/r/img/r2logo3.png" alt="Radare2 logo">
  <ul class="logobuttons">
    <li><a href="/r/zh/down.html" id="button_download" class="button"> 下载二进制文件 </a></li>
    <li>
      <a href="/r/zh/down.html" class="button"> 源代码 </a>
      <a href="http://cloud.radare.org/enyo" target="_blank" class="button"> 试试看 </a>
    </li>
  </ul>
</div>

<br />

<ul class="logobuttons">
  <li><a href="/con" id="rsoc" class="button yellow"> r2con - radare 代表大会 </a></li>
  <li><a href="/gsoc" id="rsoc" class="button yellow"> GSoC/RSoC - 夏季推广 </a></li>
</ul>
<br />

<br />

<div class="block">
<div class="block-maxi">
<a title="Screenshots" href="/r/zh/pics.html"><img src="/r/img/webui.png" width="300px"></a>
<br /> <br />
<center>
<a href="/r/zh/cmp.html" id="button_download" class="button"> 与同类商业软件功能比较 </a>
</center>
</div>
<div class="block-mini">
<h3> 立马获取 </h3>
<hr>
- <a class="external" target="_blank" href="http://cloud.rada.re/enyo"> 试一下 </a> 在线 r2 !
<br>
- 从 <a href="https://github.com/radare/radare2"> GitHub </a> 克隆源码
<br>
- 运行 <code>sys/install.sh</code>
<br>
- 提交某个 <a class="external" target="_blank" href="https://github.com/radare/radare2/issues"> Bugs </a>。
</div>

<div class="block-mini">
  <h3> 深入学习 </h3>
<hr>
- 通过 <a class="external" target="_blank" href="https://github.com/radare/radare2/wiki/R2PipeAPI"> r2pipe </a> 编写脚本
<br>
- 阅读 <a class="external" target="_blank" href="http://radare.today/">Blog</a> 或
<a class="external" target="_blank" href="https://github.com/radare/radare2/wiki">Wiki</a>
<br>
- <a class="external" target="_blank" href="http://radare.today/visual-mode/"> 可视化模式 </a> 简介
<br>
- 阅读配套的 <a href="/r/zh/docs.html"> 书 </a>
<br />
- 观看 <a href="http://radare.tv"> radare.tv </a>
</div>

<div class="block-mini">
<h3> 推销 </h3>
<hr>

<table style="important;width:180px">
<tr>
<td class="tdleft">
- <a href="http://camisetasfrikis.es/31-radare"> 贴纸 </a>
<br />
- <a href="http://camisetasfrikis.es/31-radare"> T恤 </a>
<br />
- <a href="http://camisetasfrikis.es/31-radare"> 帽衫 </a>
<br />
- <a href="http://camisetasfrikis.es/31-radare"> 马克杯 </a>
</td><td class="tdleft">
<a href="http://camisetasfrikis.es/31-radare">
<img width=64px height="64px" src="/r/img/cami.png">
</a>
</td>
</tr>
</table>
</a>
</div>

<div class="block-mini">
<h3> 联系方式 </h3>
<hr>
- 邮件 <a href="mailto:pancake@nopcode.org"> 地址 </a> (pancake)
<br>
- 加入 irc  <a href="irc://irc.freenode.net/#radare"> #radare </a> 
<br>
- 加入 Telegram <a href="https://telegram.me/joinchat/ACR-FkEK2owJSzMUYjt_NQ"> #radare </a>
<br>
- 关注 <a href="https://twitter.com/radareorg"> Twitter </a>
<br>
- 使用 <a href="http://radaremotttyqiwo.onion"> Tor </a>
</div>
</div>

<div class="block">
<{markdown}>

Radare 是一个可移植的「逆向」框架，其功能有：

* 反汇编（汇编）很多不同的架构
* 配合本地原生的或远程的调试器，进行调试（gdb，rap，webui，r2pipe，winedbg 和 windbg）
* 支持 Linux，*BSD，Windows，OSX，Android，iOS，Solaris 和 Haiku
* 执行文件系统取证和数据雕刻
* 使用 Python，Javascript，Go 和更多的语言，编写脚本
* 支持协作分析，通过内置的 web 服务器
* 可视化很多文件类型的数据结构
* 给程序打补丁，以发现新特性或修复缺陷
* 使用强大的分析能力，加速逆向处理
* 援助软件爆破

<{/markdown}>
</div>

<br /><br />
<div>
  <a title="Bitcoin" href="bitcoin:1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi?message=donation"><img class="bottom-link" src="/r/img/bitcoin-ok64.png" alt="Bitcoin"></a>
  <a title="Twitter" target="_blank" href="https://twitter.com/radareorg"><img class="bottom-link" src="/r/img/twitter-ok64.png" alt="Twitter"></a>
  <a title="Github" target="_blank" href="https://github.com/radare/radare2"><img class="bottom-link" src="/r/img/github-ok64.png" alt="Github"></a>
</div>

<{include}>zh/tail.tmpl<{/include}>
