<{include}>zh/head.tmpl<{/include}>
<div class="header">
  <h1> 屏幕截图 </h1>
</div>

<{markdown}>

最新 WebUI

[![img](/r/img/webui.png)](/r/img/webui.png)

按 「空格」键的效果

[![img](/r/img/webui-graph.png)](/r/img/webui-graph.png)

[Bokken](http://www.bokken.re) (pygtk 图形用户界面)

[![img](/r/img/bokken.png)](/r/img/bokken.png)

可视化的 Linux/ARM 调试器

[![img](/r/img/debug.png)](/r/img/debug.png)

交互式的 ASCII-Art 图

[![img](/r/img/r2cg.png)](/r/img/r2cg.png)

彩色的标识

[![img](/r/img/pxa.png)](/r/img/pxa.png)

交互式的汇编器（VA）

[![img](/r/img/writeasm.png)](/r/img/writeasm.png)

3D 立体图像（VA）

[![img](/r/img/r2p3.png)](/r/img/r2p3.png)

分段列表

[![img](/r/img/sections.png)](/r/img/sections.png)

自文档（Self-Documented）

[![img](/r/img/r2help.png)](/r/img/r2help.png)
<{/markdown}>

<{include}>zh/tail.tmpl<{/include}>
