<{include}>zh/head.tmpl<{/include}>
<div class="header">
  <h1> RSoC 众筹 </h1>
</div>
<br />
<div class="block3" style="border-top:0px">
<{markdown}>

我们又一次主办 2016 Radare 编码之夏！

Radare 维护者，已经选择了那些用户正请求实现的特性，任何一位志愿者都可以帮助我们完成一个任务。

我们期待和你一起工作，同时也需要资金为已完成的任务提供奖金。


参与者
------------

提交项目提议的截止日期为 2016 年 6 月 13 日。请给我们发邮件 [rsoc@radare.org]( mailto:rsoc@radare.org ) 申请。这里是一个 
[应用模板](https://docs.google.com/document/d/1kDPGgr_D5tQuYLQi_gEGlkuQ-DlU8GH5kDBqZbVSC7I/edit?usp=sharing)(曾
用于 GSoC（Google 编码之夏）的，同一个模板).

有关可选任务更多详情，请访问 [http://radare.org/gsoc/2016/ideas.html]( http://radare.org/gsoc/2016/ideas.html )。注意请不要选择已
经被 Google 编码之夏接收过的任务。


日程安排
--------

- 5月 25 - 启动应用
- 6月 13 - 结束应用接收
- 6月 15 - 公布入选的学生
- 6月 17 - 开始编码
- 7月 30 - 中期评价
- 9月 16 - “停笔” - 终期评价
- 9与 27 - 代码必须合并到 radare2 源码库，主干分支


捐赠
---------

你可以通过 paypal 或 bitcoin 参与众筹活动。我们将用这些钱支付贡献者完成的任务。最终筹到的资金数，将被公之于众。
任何没有使用的钱，将用于未来的“编码之夏”或项目的其他开支。

贡献者将，以他们首先的货币形式，收到他们的钱。组织者将兑换捐赠到你首先的本地或数字货币。我们期望筹集 $20000，目标是
为 4 位参与者每人提供 $5000。

当前总额
---------------
<{/markdown}>

欧元：<font color=green>0</font> / 20000 <b>USD</b>
<br />
比特币：<font color=green>0</font> / 0 <b>BTC</b>

</div>
<br />
<div class="donations">
  <a title="RSoC 2016 IndieGoGo crowdfunding" href="https://igg.me/at/rsoc2016">Donate at IndieGoGo!</a>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="X9TNRPVJVA2BU">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0"
  name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1"
  height="1">
  </form>
  <b style="font-size:13px">rsoc@radare.org</b>
  <br />
  <br />
  <a title="1RSoCpEyUsTiphPD9ZbHywxku4DPkKdgs" href="bitcoin:1RSoCpEyUsTiphPD9ZbHywxku4DPkKdgs?message=donation" class="donate bitcoin">Donate Bitcoins</a>
  <br />
  <b style="font-size:13px">1RSoCpEyUsTiphPD9ZbHywxku4DPkKdgs</b>
</div>

<{include}>zh/tail.tmpl<{/include}>

