<html>
<head>
<meta charset="utf-8">
<title>GSoD 2019</title>
<link href="markdown.css" rel="stylesheet"></link>
<link href="style.css" rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
</head>
<body>
<div class="topbar">
<table class="topbar" id="topbar">
<tr style="width:100%">
  <td><a href='./'>Radare2 GSoD 2019</a></td>
  <td><a href='index.html'>Introduction</a></td>
  <td><a href='ideas.html'>Project Ideas</a></td>
</tr>
</table>
</div>
<br />
