@font-face {
    font-family: ati8x8;
    src: url(Px437_ATI_8x8.ttf)
}

html {
overflow-x:hidden;
	width: 100%;
}

b {
	color: #179AB2;
}

p {
	margin-left: 15px;
	margin-right: 50px;
	font-size: 0.8em;
}

body {
overflow-x:hidden;
	background-image:url(img/bcn2.jpg);
// trn
// sub
// rof
// crw
	background-position:center;
	background-size:100%;
	background-repeat: no-repeat;
	background-color: black;
	margin:0px;
}

.apply:hover {
	background-color:#e0e0f0;
}

.apply {
    width: 10em;
	margin: auto;
	border: 3px solid #179AB2;
	right: 10px;
	margin: 0 auto;
	z-index:20;
	background-color: white;
	font-family: Verdana, Sans Serif;
	padding-top: 0.5em;
	height: 2em;
	font-size: 1.5em;
	color: black;
	position:absolute;
	text-align: center;
	top:10px;
}

.ticket:hover {
	background-color:#e0e0f0;
}

.ticket {
    width: 10em;
	margin: auto;
	border: 3px solid #179AB2;
	right: 10px;
	margin: 0 auto;
	z-index:20;
	background-color: white;
	font-family: Verdana, Sans Serif;
	padding-top: 0.5em;
	height: 2em;
	font-size: 1.5em;
	color: black;
	position:absolute;
	text-align: center;
	top:100px;
}

.page {
	background-color: black;
	margin:0px;
	width: 100%;
	padding:0px;
	border:0px;
	position:absolute;
	top:800px;
	color:white;
	font-size: 1em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.logo {
    width: 100%;
	margin: 0 auto;
	z-index:10;
	position:absolute;
	text-align: center;
	top:30%;
}

.logoimg {
	max-width: 600px;
	width:80%;
	margin-left: 10px;
}

.scrolldown {
	width: 64px;
}

.text {
	margin:64px;
	text-align:justify;
	padding-top: 500px;
	padding-bottom: 100px;
}

h1 {
	color: #909090;
}

h2 {
	color: white;
	font-size: 3em;
}
a {
	color: #179AB2;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #179af0;
	text-decoration: underline;
}

.data {
	visibility: hidden;
}

div.navigation {
	visibility: hidden;
	position: relative;
	top: -38px;
	left: 100px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
}

a.navlink {
	margin-right: 10px;
	color: rgba(255,255,255,0.75);
}

a.navlink:hover {
	text-decoration: none;
	color: white;
}

div.talk {
	background-color: #202020;;
 margin:5px;
padding: 10px;
    display: inline-block;
width: 350px;
    *display: inline;
	border-radius: 10px;
vertical-align:middle;
}


div.talk-title {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

div.speaker {
	height: 70px;
	line-height: 1.2em;
}

div.speaker-data {
	padding-top: 10px;
}

img.speaker {
	float: left;
	width: 64px;
	height: 64px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: white;
	border: 0px;
}

span.name {
	font-weight: bold;
}

span.handle {
	font-size: 0.9em;
}

/*
span.name span.handle {
	line-height: 0.5em;
} */

p.talk-description {
	font-size: 1em;	
	color: #888888;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #575757;;
    margin: 1em 0;
    padding: 0; 
}

a.handle {
	color: #1da1f3;
	font-weight: normal;
}

.buy-button {
	background-color:#ffff99;
	width:10em;
	padding:5px;
	padding-top:8px;
	border:6px solid #179ab2;
	border-radius: 10px;
	font-size:2em;
}

.buy-button:hover {
	background-color:yellow;
	border:6px solid #179af0;
	font-decoration: none;
}
