/* **************
    General 
*************** */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background: #2c2a2b;
  color: #ecf0f1;
  line-height: 20px;
  font-size: 14px;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

code {
  font: 15px monospace;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
  border-width: 0.5px;
  border-style: solid;
  margin: 0px;
  padding: 1px 6px;
  border-color: rgb(221, 221, 221);
  box-sizing: border-box;
  color: #7dffc4;
}

code a {
  color: inherit;
}

a {
  color: white;
  text-decoration: none;
}

/* uncomment if needed 
a:hover {
  color: #7070f0;
  text-decoration: underline;
}

td {
  background-color:#40f040;
  padding: 20px;
  color: black;
  border: 5px solid #40a040;
}
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 10px; 
}

p a {
  color: #7dffc4;
}

b {
  color: #7dffc4 !important;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 40px auto 30px auto;
  padding: 10px 20px;
}

.radare-logo {
  margin: 10px 10px 30px;
  width: 90% !important;
}

/* **************
    Schedule 
*************** */

.tabs {
  position: relative;
  margin: 3rem 0;
  background: #4cb896;
  height: 545px;
  /* overflow-x: scroll; */
  z-index: 1;
}
.tabs::before,
.tabs::after {
  /* content: ""; */
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
  z-index: 100;
  /* width: 25%; */
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #4cb896;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.tab-special-events {
  background-color: #78d278;
}

.tab-map {
  background-color: #e68d8d;
}

.tab-label:hover {
  top: -0.25rem;
  -webkit-transition: top 0.25s;
  transition: top 0.25s;
}
.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  margin-top: 80px;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  height: 500px;
  overflow-y: auto;
  width: 100%;
}

@media (min-width: 374px) {
  .tab-content {
    margin-top: 50px;
  }
}

@media (min-width: 700px)
{
  .tab-content {
    margin-top: 0;
  }
}

.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.bright-p a {
  color: #008d71;
}

/* **************
    Events 
*************** */

ul.schedule {
  list-style: none;
  margin: 20px auto;
}
h3 {
  padding: 0;
  margin: 0;
}

.date {
  width: 17%;
  padding: 15% 1% 20% 0;
  float: left;
}

.date h3 {
  font-size: 1.5em;
}

.date p {
  font-size: 0.8em;
}

.events {
  float: left;
  width: 80%;
  border-left: 1px solid #ccc;
  /* margin-top: 10%; */
  padding-top: 3%;
}

.events-detail {
  max-width: 550px;
}

.events-detail li {
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  line-height: 22px;
  transition: ease 0.4s all;
}

.events-detail li:hover {
  background: #e9e9e9;
}

.event-time {
  font-weight: 900;
}

.events-detail li a {
  text-decoration: none;
  color: #444;
  width: 100%;
  height: 100%;
  display: block;
}

.event-location {
  font-size: 0.8em;
  color: tomato;
  /*margin-left: 5px;*/
}

.event-speakers {
  font-size: 0.8em;
  color: limegreen;
  margin-left: 5px;
  margin-right: 5px;
}

.speakers a {
  font-weight: bold;
}

.sep-char {
  font-size: 0.8em;
  color: gray;
}

@media all and (max-width: 641px) {
  .date {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .events {
    border: none;
    width: 100%;
    margin-top: 0;
  }

  .events-detail {
    padding: 0;
  }

  li.date p {
    margin: 0;
  }
}

/* **************
    Modal 
*************** */

#target-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  z-index: 2;
}
#target-content:target {
  pointer-events: all;
  opacity: 1;
}
#target-content #target-inner {
  position: absolute;
  padding: 48px;
  line-height: 1.8;
  min-width: 30%;
  max-width: 70%;
  max-height: 80%;
  overflow: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  background: white;
  color: #34495e;
}
#target-content #target-inner h2 {
  margin-top: 0;
}
#target-content #target-inner code {
  font-weight: bold;
}
#target-content a.close {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #34495e;
  opacity: 0.5;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}
#target-content a.close:hover {
  opacity: 0.4;
}

#target-inner h2 {
  padding: 0;
  margin: 0px;
}

.target-speakers {
  padding: 0;
  margin: 0;
}

.target-speakers a{
  color: limegreen; 
}



@media all and (max-width: 768px) {
  #target-content #target-inner {
    width: 70%;
  }
}

@media all and (max-width: 425px) {
  #target-content #target-inner {
    width: 85%;
    min-width: 85%;
  }
}
/* **************
    Information 
*************** */

.info {
  margin: 4em auto;
  width: 1100px;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info::after {
  clear: both;
  content: "";
  display: table;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-item-box {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 40px;
  font-weight: 900;
  flex-shrink: 0;
}

.WAT {
  background: #afce44;
}

.WAT:hover {
  background: #bfde54;
}

.WEN {
  background: #7bc3e0;
}

.WEN:hover {
  background: #8bd3f0;
}

.TIC {
  background: #f2cb30;
}

.TIC:hover {
  background: #ffcc00;
}

.WER {
  background: #cf84bc;
}

.WER:hover {
  background: #df94cc;
}

.WUT {
  background: #b63663;
}

.WUT {
  background: #b63663;
  animation:wut-transition 2s;
  -moz-animation:wut-transition 2s infinite; /* Firefox */
  -webkit-animation:wut-transition 2s infinite; /* Safari and Chrome */
}

@-moz-keyframes  wut-transition /* Firefox */
{
  0%   {background: #b63663;}
  50%  {background: #f04c97;}
}
 
 @-webkit-keyframes wut-transition /* Firefox */
{
  0%   {background: #b63663;}
  50%  {background: #f04c97;}
}

@media (min-width: 768px) {
  .info-item {
    flex-direction: row;
    margin-bottom: 25px;
  }

  .info-item-box {
    width: 150px; /* TODO: Find out why need to use x2 dimension to be displayed as rect */
    height: 150px;
    margin-right: 25px;
  }

  
  .h1-title {
    font-size: 60px;
  }
}

.pay-item-box {
  width: 250px !important; /* TODO: Find out why need to use x2 dimension to be displayed as rect */
  height: 120px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 40px;
  font-weight: 900;
  flex-shrink: 0;
}

@media all and (max-width: 768px) {
  .info-item a {
    width:100%;
  }

  .h1-title {
    font-size: 50px;
  }

}

.competitions  {
  justify-content: center;
}
.competitions .info-item-box {
  width: 200px;
  margin-top: 10px;
}


@media all and (max-width: 550px) {

  .h1-title {
    font-size: 30px;
  }

}
