<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Comparison Table</h1>
</div>
<br />
Unfair comparison between <a href='http://rada.re'>r2</a>, <a href='https://www.hex-rays.com/products/ida/index.shtml'>IDA Pro</a> and <a href='http://hopperapp.com/'>Hopper</a>.
<center>
<{markdown}>

## Common support

## Fileformats

Click on the fileformats name to discover more.

| Fileformats                           | Radare2       | Binary Ninja Demo | Binary Ninja | Hopper Demo  | Hopper       | JEB          | IDA Pro      | IDA Pro Demo   | Ghidra |
|---------------------------------------|---------------|-------------------|--------------|--------------|--------------|--------------|--------------|--------------|--------------|
| [avr](./fileformat.html#avr)           | ✅            | 🚫       | 🚫           | 🚫           | 🚫             | 🚫           | ✅           | 🚫           | ✅   |
| [coff](./fileformat.html#coff)          | ✅            | ✅                | ✅           | 🚫           | 🚫             | ✅           | ✅           | 🚫           | ? |
| [dex](./fileformat.html#dex)           | ✅            | 🚫                | ✅           | 🚫           | 🚫             | ✅           | ✅           | 🚫           | ✅   |
| [elf](./fileformat.html#elf)           | ✅            | ✅                | ✅           | ✅           | ✅             | ✅           | ✅           | ✅            |✅   |
| [elf64](./fileformat.html#elf)         | ✅            | 🚫                | ✅           | ✅           | ✅             | ✅           | ✅           | 🚫           | ✅  |
| [fatmach0](./fileformat.html#fatmach0mach0)    | ✅    | 🚫                | 🚫           | ✅           | ✅             | 🚫           | ✅           | 🚫           | ✅  |
| [java](./fileformat.html#java)          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫           | ✅           | 🚫           |🚫
| [mach0](./fileformat.html#fatmach0mach0)  | ✅          | ✅                | ✅           | ✅           | ✅             | 🚫           | ✅           | ✅            |✅  |
| [mach064](./fileformat.html#fatmach0mach0)   | ✅            | 🚫              | ✅           | ✅           | ✅             | 🚫           | ✅           | 🚫           |✅  |
| [minidump](./fileformat.html#minidump)      | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫           | 🚫           | 🚫           |🚫|
| [mz](./fileformat.html#mz)            | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫           | ✅           | 🚫           |✅  |
| [pe](./fileformat.html#pe)            | ✅            | ✅                | ✅           | ✅           | ✅             | ✅           | ✅           | ✅            |✅  |
| [pe64](./fileformat.html#pe)          | ✅            | 🚫                | ✅           | ✅           | ✅             | ✅           | ✅           | 🚫           |✅  |
| [zip (jar,apk, ipa)](./fileformat.html#zip)           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | ✅ (apk)     | ✅           | 🚫           |✅  |
| [ihex](./fileformat.html#ihex)          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫           | ✅           | 🚫           |✅  |

## Architectures

| Architectures                    | Radare2  | Binary Ninja Demo | Binary Ninja | Hopper Demo | Hopper | JEB | IDA Pro | IDA Pro Demo | Ghidra |
|----------------------------------|----------|-------------------|--------------|-------------|--------|-----|---------|--------------|--------|
| [arm](./arch.html#arm)           | ✅       | ✅                | ✅          | ✅          | ✅      | ✅ | ✅      | ✅            | ✅     | 
| [arm64](./arch.html#arm)         | ✅       | 🚫                | ✅          | ✅          | ✅     | ✅  | ✅      | 🚫            |  ✅ | 
| [avr](./arch.html#avr)           | ✅       | 🚫                | 🚫          | 🚫          | 🚫     | 🚫  | ✅      | 🚫            | ✅ |
| [dalvik](./arch.html#dalvik)     | ✅       | 🚫                | 🚫          | 🚫          | 🚫     | ✅  | ✅      | 🚫            | ✅ |
| [java](./arch.html#java)         | ✅       | 🚫                | 🚫          | 🚫          | 🚫     | 🚫  | 🚫      | 🚫            |🚫  | 
| [mips](./arch.html#mips)         | ✅       | 🚫                | ✅          | ✅          | ✅     | ✅  | ✅      | 🚫            | ✅ |
| [mips64](./arch.html#mips)       | ✅       | 🚫                | ✅          | ✅          | ✅     | ✅  | ✅      | 🚫            | ✅ |
| [ppc](./arch.html#ppc)           | ✅       | 🚫                | ✅          | ✅          | ✅     | 🚫  | ✅      | 🚫            | ✅ |
| [x86](./arch.html#x86)           | ✅       | ✅                | ✅          | ✅          | ✅     | ✅  | ✅      | ✅            | ✅ |
| [x86_64](./arch.html#x86)        | ✅       | 🚫                | ✅          | ✅          | ✅     | ✅  | ✅      | 🚫             | ✅ |

## Debuggers

| Debuggers     | Radare2       | Binary Ninja Demo | Binary Ninja | Hopper Demo  | Hopper         | JEB          | IDA Pro          | IDA Pro Demo   | Ghidra |
|---------------|---------------|-------------------|--------------|--------------|----------------|--------------|--------------|--------------|--------------|
| gdb           | ✅            | 🚫                 | 🚫           | 🚫           | ✅ (intel only)| ✅            | ✅            | 🚫            |     | 🚫
| native        | ✅            | 🚫                 | 🚫           | 🚫           | 🚫             | ✅            | ✅            | 🚫            |     | 🚫
| windbg        | ✅            | 🚫                 | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫            |     | 🚫
| lldb          | ✅            | 🚫                 | 🚫           | 🚫           | ✅ (intel only)| 🚫            | 🚫            | 🚫            |     | 🚫
| bfdbg         | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫            |      | 🚫
| rap           | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫            |      | 🚫
| mach          | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫            |      | 🚫
| bochs         | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | ✅            | 🚫            |      | 🚫
| qnx           | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫            |      | 🚫
| r2k           | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫            |      | 🚫

## Decompilers / Pseudo-code support

| Architecture | Radare2                    | Binary Ninja Demo | Binary Ninja | Hopper Demo | Hopper | JEB | IDA Pro | IDA Pro Demo | Ghidra |
|--------------|----------------------------|-------------------|--------------|-------------|--------|-----|---------|--------------|--------|
| arm          | 🔶🔷 \*\*                   | 🚫                | 🔶🔷 \*           | 🚫          | 🔷     | 🔷  | 🔷       | 🚫   | ✅  |
| arm64        | 🔶                         | 🚫                | 🔶           | 🔷          | 🔷     | 🚫  | 🔷       | 🚫          |✅  |
| avr          | 🔶                         | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫           |✅  |
| dalvik       | 🔶                         | 🚫                | 🚫           | 🚫          | 🚫     | 🔷   | 🚫      | 🚫          |✅  |
| java         | 🔶                         | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫           |🚫   |
| mips         | 🔶🔷 \*                    | 🚫                | 🔶🔷 \*           | 🚫          | 🚫     | 🔷   | 🔷 \*      | 🚫  |✅  |
| mips64       | 🔶                         | 🚫                | 🔶           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫           | ✅  |
| PIC32        | 🔶🔷 \*                    | 🚫                | 🔷 \*           | 🚫          | 🚫     | 🚫  | 🔷 \*      | 🚫     | 🚫   |
| ppc          | 🔶🔷 \*                    | 🚫                | 🔷 \*           | 🚫          | 🚫     | 🚫  | 🔷       | 🚫       |✅  |
| x86          | 🔶🔷 \*\*                  | 🚫                | 🔶🔷 \*           | 🔷          | 🔷     | 🔷  | 🔷       | 🚫     |✅  |
| x86_64       | 🔶🔷 \*\*                  | 🚫                | 🔶🔷 \*           | 🔷          | 🔷     | 🔷  | 🔷       | 🚫     |✅  |

🔷 Decompiler

🔶 Pseudo-Code

\* Decompiler via Retdec API

\*\* Decompiler via Snowman/Retdec API

# Functionality

| Functionality                         | Radare2 | Binary Ninja Demo | Binary Ninja | Hopper Demo | Hopper | JEB | IDA Pro | IDA Pro Demo | Ghidra  |
|---------------------------------------|---------|-------------------|--------------|-------------|--------|-----|---------|--------------|---------|
| Assembler                             | ✅      | ✅                | ✅           | ✅          | ✅    | ✅  | ✅      | ✅           | ✅      |
| Bindings/API                          | ✅      | ✅                | ✅           | ✅          | ✅    | ✅  | ✅      | ✅           | ✅      |
| C++ Classes                           | ✅      | 🚫                | 🚫           | 🚫          | 🚫    | 🚫  | 🚫      | 🚫           | ?       |
| Classes JAVA/DEX                      | ✅      | 🚫                | 🚫           | 🚫          | 🚫    | ✅   | ✅     | 🚫           | ✅      |
| Comments/Renaming                     | ✅      | ✅                | ✅           | ✅          | ✅    | ✅   | ✅     | ✅           | ✅      |
| Cross References                      | ✅      | ✅                | ✅           | ✅          | ✅    | ✅   | ✅     | ✅           | ✅      |
| Custom structures definition          | ✅      | 🚫                | 🚫           | ✅          | ✅    | 🚫  | ✅       | ✅          | ✅      |
| De Bruijn pattern                     | ✅      | 🚫                | 🚫           | 🚫          | 🚫    | 🚫  | 🚫      | 🚫           | 🚫      |
| Diffing                               | ✅      | 🚫                | 🚫           | 🚫          | 🚫    | 🚫  | ✅       | ✅          | ✅      |
| Dwarf                                 | ✅      | 🚫                | 🚫           | 🚫          | 🚫    | 🚫  | ✅       | ✅          | ✅      |
| Emulation (via intermediate language) | ✅      | ✅                | ✅           | 🚫          | 🚫    | 🚫  | 🚫      | 🚫           | 🚫      |
| Encrypt/Decrypt support               | ✅      | 🚫                | 🚫           | 🚫          | 🚫    | 🚫  | 🚫      | 🚫           | 🚫      |
| Free (as in beer)                     | ✅      | 🚫                | 🚫           | 🚫          | 🚫    | 🚫  | 🚫      | 🚫           | ✅      |
| Free (as in freedom)                  | ✅      | 🚫                | 🚫           | 🚫          | 🚫    | 🚫  | 🚫      | 🚫           |✅      |
| Function prototype / Arguments        | ✅      | ✅                | ✅           | ✅          | ✅    | ✅   | ✅     | ✅           |✅      |
| Graphs                                | ✅      | ✅                | ✅           | ✅          | ✅    | ✅   | ✅      | ✅          |✅      |
| Hash Support                          | ✅      | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫          |✅      |
| Heap Analyser                         | ✅      | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫          |🚫      |
| Intermediate Language support         | ✅      | ✅                | ✅           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫          |✅      |
| Mitigations detection                 | ✅      | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫          |🚫      |
| Open bugtracker                       | ✅      | 🚫                | 🚫           | ✅          | ✅      | 🚫  | 🚫      | 🚫         |✅      |
| Open database format                  | ✅      | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫          |🚫      |
| Patching                              | ✅      | ✅                | ✅           | ✅          | ✅      | 🚫  | ✅       | ✅        |✅      |
| PDB                                   | ✅      | ✅                | ✅           | 🚫          | 🚫     | 🚫  | ✅       | ✅         | ~      |
| ROP-gadget finder                     | ✅      | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫          |🚫      |
| Saving and exporting project          | ✅      | 🚫                | 🚫           | ✅           | ✅      | ✅   | ✅       | ✅      |✅      |
| Shellcode Compiler                    | ✅      | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫          |🚫      |
| Signature recognition                 | ✅      | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅       | ✅         |🚫      |
| Swift                                 | ✅      | 🚫                | 🚫           | ✅           | ✅      | 🚫  | ✅       | ✅       |🚫      |
| Trace                                 | ✅      | 🚫                | 🚫           | 🚫          | 🚫     | ✅   | ✅       | ✅        |🚫      |
| Types                                 | ✅      | ✅                | ✅           | ✅           | ✅      | 🚫  | ✅       | ✅       |✅      |

# Other support

## Other Fileformats

| Fileformats   | Radare2       | Binary Ninja Demo | Binary Ninja | Hopper Demo  | Hopper          | JEB           | IDA Pro       | IDA Pro Demo | Ghidra  |
|---------------|---------------|-------------------|--------------|--------------|-----------------|---------------|---------------|--------------|---------|
| art           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | ✅            | 🚫            | 🚫           | 🚫      |
| bcl           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      | 
| bf            | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| bflt          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| bios          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| bootimg       | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| cgc           | ✅            | 🚫                | ✅           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| dol           | ✅            | 🚫                | 🚫           | ✅           | ✅             | 🚫            | ✅            | 🚫           | 🚫      |
| dyldcache     | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| lua           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| mbn           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| menuet        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| nes           | ✅            | ✅                | ✅           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| nin3ds        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| ninds         | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| ningb         | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| ningba        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| nro           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| omf           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| p9            | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| pebble        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| psxexe        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | ✅      |
| pyc           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| sfc           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| smd           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| sms           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| swf           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| spc700        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| te            | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| vsf           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| wasm          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| xbe           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| xtr_dyldcache | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫           | 🚫      |
| zimg          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| cpio          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| ewf           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| FileSystems   | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| gzip          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| http          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |
| tcp           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫           | 🚫      |

## Architectures

| Architectures | Radare2 | Binary Ninja Demo | Binary Ninja | Hopper Demo | Hopper | JEB | IDA Pro | IDA Pro Demo | Ghidra  |
|---------------|---------|-------------------|--------------|-------------|--------|-----|---------|--------------|---------|
| 6502          | ✅       | 🚫                | ✅            | ✅           | ✅      | 🚫  | ✅  | 🚫  | ✅  |
| 8051          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  | ✅  |
| agc           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| arc           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| baleful       | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| bcl           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| bf            | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| blackfin      | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| bpf           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| cr16          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| cris          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| dcpu16        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| ebc           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| h8300         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| hppa          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |✅   |
| i4004         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| i8080         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| lanai         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| lh5801        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| lm32          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| lua           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| m68k          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| malbolge      | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| mc6809        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| mcs96         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| microblaze    | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| msil          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| msp430        | ✅       | 🚫                | ✅           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| nios2         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| pic18c        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |✅  |
| propeller     | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| psosvm        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| pyc           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| riscv         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| rsp           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| sh            | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| snes          | ✅       | 🚫                | 🚫           | ✅          | ✅     | 🚫  | ✅  | 🚫  |🚫  |
| sparc         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |✅  |
| spc700        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| swf           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| sysz          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| tms320        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| tms320c64x    | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| tricore       | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| v810          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| v850          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| vax           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| vc4           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| wasm          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| ws            | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| xap           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| xcore         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |
| xtensa        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |🚫  |
| z80           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |✅  |
| zpu           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |🚫  |

<{/markdown}>
</center>


<{include}>tail.tmpl<{/include}>
