<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Comparison Table</h1>
</div>
<br />
Unfair comparison between <a href='http://rada.re'>r2</a>, <a href='https://www.hex-rays.com/products/ida/index.shtml'>IDA Pro</a> and <a href='http://hopperapp.com/'>Hopper</a>.
<center>
<{markdown}>

## Common support

## Fileformats

Click on the fileformats name to discover more.

| Fileformats   | Radare2       | Binary Ninja Demo | Binary Ninja | Hopper Demo  | Hopper       | JEB          | IDA Pro          | IDA Pro Demo      |
|---------------|---------------|-------------------|--------------|--------------|--------------|--------------|--------------|--------------|
| [avr](./fileformat.html#avr)           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫           | ✅           | 🚫           |
| [coff](./fileformat.html#coff)          | ✅            | ✅                | ✅           | 🚫           | 🚫             | ✅           | ✅           | 🚫           |
| [dex](./fileformat.html#dex)           | ✅            | 🚫                | ✅           | 🚫           | 🚫             | ✅           | ✅           | 🚫           |
| [elf](./fileformat.html#elf)           | ✅            | ✅                | ✅           | ✅           | ✅             | ✅           | ✅           | ✅            |
| [elf64](./fileformat.html#elf)         | ✅            | 🚫                | ✅           | ✅           | ✅             | ✅           | ✅           | 🚫           |
| [fatmach0](./fileformat.html#avr)      | ✅            | 🚫                | 🚫           | ✅           | ✅             | 🚫           | ✅           | 🚫           |
| [java](./fileformat.html#java)          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫           | ✅           | 🚫           |
| [mach0](./fileformat.html#mach0)         | ✅            | ✅                | ✅           | ✅           | ✅             | 🚫           | ✅           | ✅            |
| [mach064](./fileformat.html#mach0)       | ✅            | 🚫                | ✅           | ✅           | ✅             | 🚫           | ✅           | 🚫           |
| [minidump](./fileformat.html#minidump)      | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫           | 🚫           | 🚫           |
| [mz](./fileformat.html#mz)            | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫           | ✅           | 🚫           |
| [pe](./fileformat.html#pe)            | ✅            | ✅                | ✅           | ✅           | ✅             | ✅           | ✅           | ✅            |
| [pe64](./fileformat.html#pe)          | ✅            | 🚫                | ✅           | ✅           | ✅             | ✅           | ✅           | 🚫           |
| [zip (jar,apk, ipa)](./fileformat.html#zip)           | ✅            | 🚫                | ✅ (apk)           | 🚫           | 🚫             | ✅ (apk)     | ✅           | 🚫           |
| [ihex](./fileformat.html#ihex)          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫           | ✅           | 🚫           |

## Architectures

| Architectures | Radare2 | Binary Ninja Demo | Binary Ninja | Hopper Demo | Hopper | JEB | IDA Pro | IDA Pro Demo |
|---------------|---------|-------------------|--------------|-------------|--------|-----|-----|-----|
| [arm](./arch.html#arm)           | ✅       | ✅                 | ✅            | ✅           | ✅      | ✅   | ✅   | ✅   |
| [arm64](./arch.html#arm)           | ✅       | 🚫                 | ✅            | ✅           | ✅      | ✅   | ✅   | 🚫   |
| [avr](./arch.html#avr)           | ✅       | 🚫                | ✅           | 🚫          | 🚫     | 🚫  | ✅   | 🚫  |
| [dalvik](./arch.html#dalvik)        | ✅       | 🚫                | ✅           | 🚫          | 🚫     | ✅   | ✅   | 🚫  |
| [java](./arch.html#java)          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| [mips](./arch.html#mips)          | ✅       | 🚫                 | ✅            | ✅          | ✅     | ✅   | ✅   | 🚫  |
| [mips64](./arch.html#mips)          | ✅       | 🚫                 | ✅            | ✅          | ✅     | ✅   | ✅   | 🚫  |
| [ppc](./arch.html#ppc)           | ✅       | 🚫                | 🚫           | ✅           | ✅      | 🚫  | ✅   | 🚫  |
| [x86](./arch.html#x86)           | ✅       | ✅                 | ✅            | ✅           | ✅      | ✅   | ✅   | ✅   |
| [x86_64](./arch.html#x86)        | ✅       | 🚫                 | ✅            | ✅           | ✅      | ✅   | ✅   | 🚫  |

## Debuggers

| Debuggers     | Radare2       | Binary Ninja Demo | Binary Ninja | Hopper Demo  | Hopper         | JEB          | IDA Pro          | IDA Pro Demo   |
|---------------|---------------|-------------------|--------------|--------------|----------------|--------------|--------------|--------------|
| gdb           | ✅            | 🚫                 | 🚫           | 🚫           | ✅ (intel only)| ✅            | ✅            | 🚫            |
| native        | ✅            | 🚫                 | 🚫           | 🚫           | 🚫             | ✅            | ✅            | 🚫            |
| windbg        | ✅            | 🚫                 | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫            |
| lldb          | ✅            | 🚫                 | 🚫           | 🚫           | ✅ (intel only)| 🚫            | 🚫            | 🚫            |

## Decompilers / Pseudo-code support

| Architecture | Radare2                    | Binary Ninja Demo | Binary Ninja | Hopper Demo | Hopper | JEB | IDA Pro | IDA Pro Demo |
|--------------|----------------------------|-------------------|--------------|-------------|--------|-----|---------|--------------|
| arm          | 🔶🔷 \*\*                   | 🚫                | 🔶🔷 \*           | 🚫          | 🔷     | 🔷  | 🔷       | 🚫           |
| arm64        | 🔶                         | 🚫                | 🔶           | 🔷          | 🔷     | 🚫  | 🔷       | 🚫           |
| avr          | 🔶                         | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫           |
| dalvik       | 🔶                         | 🚫                | 🚫           | 🚫          | 🚫     | 🔷   | 🚫      | 🚫           |
| java         | 🔶                         | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫           |
| mips         | 🔶🔷 \*                    | 🚫                | 🔶🔷 \*           | 🚫          | 🚫     | 🔷   | 🔷 \*      | 🚫           |
| mips64       | 🔶                         | 🚫                | 🔶           | 🚫          | 🚫     | 🚫  | 🚫      | 🚫           |
| PIC32        | 🔶🔷 \*                    | 🚫                | 🔷 \*           | 🚫          | 🚫     | 🚫  | 🔷 \*      | 🚫           |
| ppc          | 🔶🔷 \*                    | 🚫                | 🔷 \*           | 🚫          | 🚫     | 🚫  | 🔷       | 🚫           |
| x86          | 🔶🔷 \*\*                  | 🚫                | 🔶🔷 \*           | 🔷          | 🔷     | 🔷  | 🔷       | 🚫           |
| x86_64       | 🔶🔷 \*\*                  | 🚫                | 🔶🔷 \*           | 🔷          | 🔷     | 🔷  | 🔷       | 🚫           |

🔷 Decompiler

🔶 Pseudo-Code

\* Decompiler via Retdec API

\*\* Decompiler via Snowman/Retdec API

<{/markdown}>

<center>
<table class='comparison'>
<thead>
<tr> <td class="tdleft">Analysis</td>                  <td>r2</td>       <td>IDA</td>           <td>Hopper</td> </tr>
</thead>
<tbody>
<tr> <td class="tdleft">Call/syscall recognition</td>  <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft">Cross-references</td>          <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft"><a href='http://dwarfstd.org/'>DWARF</a> support</td> <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft"><a href='http://lldb.llvm.org/symbols.html'>dSym</a> support</td> <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft">Signature recognition</td>     <td class='y'>yes</td> <td class='y'><a href='https://www.hex-rays.com/products/ida/tech/flirt/in_depth.shtml'>yes</a></td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft">Custom structures definition</td> <td class='y'><a href='http://radare.today/parsing-a-fileformat-with-radare2/'>yes</a></td> <td class='y'>yes</td> <td class='n'>no</td> </tr>
<tr> <td class="tdleft">Type support</td>              <td class='y'><a href='http://radare.today/types/'>yes</a></td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft">Diffing</td>				   <td class='y'><a href='http://radare.today/binary-diffing/'>yes</a></td> <td class='y'><a href='https://code.google.com/p/patchdiff2/'>plugin</a></td> <td class='n'>no</td> </tr>
</tbody> </table>

<table class='comparison'>
<thead>
<tr> <td class="tdleft">Bindings</td>                  <td>r2</td>        <td>IDA</td>          <td>Hopper</td> </tr>
</thead> <tbody>
<tr> <td class="tdleft">Javascript</td>                <td class='y'><a href='http://radare.today/javascript-in-r2/'>yes</a></td> <td class='n'><a href="http://www.hexblog.com/?p=101">yes</a></td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Lua</td>                       <td class='y'>yes</td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Python</td>                    <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes </td> </tr>
<tr> <td class="tdleft">Vala</td>                      <td class='y'><a href='http://radare.today/scripting-r2-in-vala/'>yes</a></td> <td class='n'>no </td> <td class='n'>no </td> </tr>
</tbody> </table>

<table class='comparison'>
<thead>
<tr> <td class="tdleft">Debugger</td>                  <td>r2</td>       <td>IDA</td>           <td>Hopper</td> </tr>
</thead> <tbody>
<tr> <td class="tdleft">Breakpoints</td>               <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft">Process attaching</td>         <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft">Remote debugging</td>          <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft">Tracing</td>                   <td class='y'>yes</td> <td class='y'>yes</td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Emulation</td>                 <td class='y'><a href='https://radare.gitbooks.io/radare2book/content/esil.html'>yes</a></td> <td class='y'><a href='http://www.idabook.com/x86emu/'>plugin</a></td> <td class='n'>no </td> </tr>
</tbody> </table>

<table class='comparison'>
<thead>
<tr> <td class="tdleft">Exploitation</td>                  <td>r2</td>       <td>IDA</td>           <td>Hopper</td> </tr>
</thead> <tbody>
<tr> <td class="tdleft">ROP-gadget finder</td>         <td class='y'><a href='http://radare.today/ropnroll/'>yes</a></td> <td class='y'><a href='http://thesprawl.org/projects/ida-sploiter/'>plugin</a></td> <td class='n'>no </td></tr>
<tr> <td class="tdleft">Mitigations detection</td>                   <td class='y'>yes</td> <td class='n'>no</td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Shellcode compilation</td>     <td class='y'>yes</td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft"><a href='https://en.wikipedia.org/wiki/De_Bruijn_sequence'>De Bruijn pattern</a></td>                   <td class='y'>yes</td> <td class='n'>no</td> <td class='n'>no </td> </tr>
</tbody> </table>

<table class='comparison'>
<thead>
<tr> <td class="tdleft">Patching</td>                  <td>r2</td>       <td>IDA</td>           <td>Hopper</td> </tr>
</thead> <tbody>
<tr> <td class="tdleft">Patches generation</td>        <td class='y'>yes</td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Assemblers</td>        <td class='y'>yes</td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Writing/patching opcodes</td>  <td class='y'>yes</td> <td class='y'><a href='https://github.com/isislab/Fentanyl'>plugin</a> </td> <td class='y'>yes</td> </tr>
</tbody> </table>

<table class='comparison'>
<thead>
<tr> <td class="tdleft">Platforms</td>                  <td>r2</td>      <td>IDA</td>           <td>Hopper</td> </tr>
</thead> <tbody>
<tr> <td class="tdleft">Android</td>                   <td class='y'>yes</td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">BSD</td>                       <td class='y'>yes</td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">iPhone</td>                    <td class='y'>yes</td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Linux</td>                     <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft">OSX</td>                       <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft">Windows</td>                   <td class='y'>yes</td> <td class='y'>yes</td> <td class='w'>only v2</td> </tr>
</tbody> </table>

<table class='comparison'>
<thead>
<tr> <td class="tdleft">Extensibility</td>              <td>r2</td>      <td>IDA</td>           <td>Hopper</td> </tr>
</thead> <tbody>
<tr> <td class="tdleft">Exposed IL</td>                <td class='y'>yes</td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Open database format</td>      <td class='w'><a href='http://github.com/radare/sdb'>yes</a></td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Plugins support</td>           <td class='y'><a href='http://radare.today/extending-r2-with-new-plugins/'>yes</a></td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
</tbody> </table>

<table class='comparison'>
<thead>
<tr> <td class="tdleft">Prices and support</td>        <td>r2</td>       <td>IDA</td>           <td>Hopper</td> </tr>
</thead> <tbody>
<tr> <td class="tdleft">Free (as in beer)</td>         <td class='y'>yes</td> <td>450-2700&euro;</td> <td class='w'>65-125&euro;</td> </tr>
<tr> <td class="tdleft">Free (as in freedom)</td>      <td class='y'><a href='https://github.com/radare/radare2/blob/master/COPYING.LESSER'>yes</a></td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Open bugtracker</td>           <td class='y'><a href='https://github.com/radare/r2/issues'>yes</a></td> <td class='n'>no </td> <td class='y'><a href='http://www.hopperapp.com/bugtracker/'>yes</a></td> </tr>
<tr> <td class="tdleft">Professional customers support</td>    <td class='n'>no </td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
</tbody> </table>

<table class='comparison'>
<thead>
<tr> <td class="tdleft">Project management</td>        <td>r2</td>       <td>IDA</td>           <td>Hopper</td> </tr>
</thead> <tbody>
<tr> <td class="tdleft">Collaborative work</td>        <td class='w'>wip</td> <td class='w'><a href='http://www.idabook.com/collabreate/'>plugin</a></td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Saving and exporting</td>      <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
</tbody> </table>

<table class='comparison'>
<thead>
<tr> <td class="tdleft">User interface</td>            <td>r2</td>       <td>IDA</td>           <td>Hopper</td> </tr>
</thead> <tbody>
<tr> <td class="tdleft">CLI</td>                       <td class='y'>yes</td> <td class='y'>yes</td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">GUI</td>                       <td class='n'>no </td> <td class='y'>yes</td> <td class='y'>yes</td> </tr>
<tr> <td class="tdleft">Themes support</td>            <td class='y'>yes</td> <td class='y'>yes</td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Web interface</td>             <td class='w'><a href='http://radare.today/the-new-web-interface/'>yes</a></td> <td class='n'>no </td> <td class='n'>no </td> </tr>
<tr> <td class="tdleft">Graphs</td>            <td class='y'>yes</td> <td class='y'>yes</td> <td class='y'>yes </td> </tr>
<tr> <td class="tdleft">Ascii graphs</td>            <td class='y'><a href='https://twitter.com/akochkov/status/634016073264795650'>yes</a></td> <td class='n'>no</td> <td class='n'>no </td> </tr>
</tbody> </table>
</center>
<br />

<{markdown}>
# Other support

## Fileformats

| Fileformats   | Radare2       | Binary Ninja Demo | Binary Ninja | Hopper Demo  | Hopper       | JEB          | IDA Pro          | IDA Pro Demo     |
|---------------|---------------|-------------------|--------------|--------------|--------------|--------------|--------------|--------------|
| art           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | ✅            | 🚫            | 🚫                |
| bcl           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| bf            | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| bflt          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| bios          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| bootimg       | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| cgc           | ✅            | 🚫                | ✅           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| dol           | ✅            | 🚫                | 🚫           | ✅           | ✅             | 🚫            | ✅            | 🚫                |
| dyldcache     | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| lua           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| mbn           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| menuet        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| nes           | ✅            | ✅                | ✅           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| nin3ds        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| ninds         | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| ningb         | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| ningba        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| nro           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| omf           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| p9            | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| pebble        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| psxexe        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| pyc           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| sfc           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| smd           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| sms           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| swf           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| spc700        | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| te            | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| vsf           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| wasm          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| xbe           | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| xtr_dyldcache | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | ✅            | 🚫                |
| zimg          | ✅            | 🚫                | 🚫           | 🚫           | 🚫             | 🚫            | 🚫            | 🚫                |
| cpio          | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫                |
| ewf           | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫                |
| FileSystems (ext2, fat, etc.) | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫                |
| gzip          | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫                |
| http          | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫                |
| tcp           | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫                |

## Architectures

| Architectures | Radare2 | Binary Ninja Demo | Binary Ninja | Hopper Demo | Hopper | JEB | IDA Pro | IDA Pro Demo |
|---------------|---------|-------------------|--------------|-------------|--------|-----|-----|-----|
| 6502          | ✅       | 🚫                | ✅            | ✅           | ✅      | 🚫  | ✅  | 🚫  |
| 8051          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| agc           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| arc           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| baleful       | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| bcl           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| bf            | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| blackfin      | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| bpf           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| cr16          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| cris          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| dcpu16        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| ebc           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| h8300         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| hppa          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| i4004         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| i8080         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| lanai         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| lh5801        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| lm32          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| lua           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| m68k          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| malbolge      | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| mc6809        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| mcs96         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| microblaze    | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| msil          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| msp430        | ✅       | 🚫                | ✅           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| nios2         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| pic18c        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| propeller     | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| psosvm        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| pyc           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| riscv         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| rsp           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| sh            | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| snes          | ✅       | 🚫                | 🚫           | ✅           | ✅      | 🚫  | ✅  | 🚫  |
| sparc         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| spc700        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| swf           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| sysz          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| tms320        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| tms320c64x    | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| tricore       | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| v810          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| v850          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| vax           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| vc4           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| wasm          | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| ws            | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| xap           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| xcore         | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |
| xtensa        | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| z80           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | ✅  | 🚫  |
| zpu           | ✅       | 🚫                | 🚫           | 🚫          | 🚫     | 🚫  | 🚫  | 🚫  |

## Debuggers

| Debuggers     | Radare2       | Binary Ninja Demo | Binary Ninja | Hopper Demo  | Hopper         | JEB          | IDA Pro          | IDA Pro Demo     |
|---------------|---------------|-------------------|--------------|--------------|----------------|--------------|--------------|--------------|
| bfdbg         | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫            |
| rap           | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫            |
| mach          | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫            |
| bochs         | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | ✅            | 🚫            |
| qnx           | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫            |
| r2k           | ✅            | 🚫                 | 🚫           | 🚫           | 🚫            | 🚫            | 🚫            | 🚫            |

<{/markdown}>
</center>


<{include}>tail.tmpl<{/include}>
