<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Community</h1>
</div>

<div class="block2">
<{markdown}>

Author/Main Developer
---------------------

 - pancake <nopcode.org>
<{/markdown}>
</div>

<div class="block2">
<{markdown}>

Honoric Contributors
--------------------

 - xvilka
 - condret
 - jvoisin
 - crowell

<{/markdown}>
</div>


<div class="block2">
<{markdown}>
Historical Contributors
-----------------------

- nibble
- dso
- earada
<{/markdown}>
</div>

<div class="block2">
<{markdown}>

Contributors: (sorted by length)
--------------------------------

 - Anton Bolotinksy
 - Glyn Kennington
 - schrotthaufen
 - TheLemonMan
 - elektranox
 - neuroflip
 - timstrazz
 - esanfelix
 - Alexander
 - dkreuter
 - inisider
 - cosarara
 - montekki
 - rvalles
 - esteve
 - capi_x
 - rudi_s
 - vext01
 - 0xroot
 - milabs
 - Sirmy
 - l0gic
 - eddyb
 - graz
 - nion
 - oxff
 - pof
 - dso
 - dx

<{/markdown}>
</div>

<{include}>tail.tmpl<{/include}>
