<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Community</h1>
</div>

<div class="block2">
<{markdown}>

Author/Main Developer
---------------------

 - pancake
<{/markdown}>
</div>

<div class="block2">
<{markdown}>

Honoric Contributors
--------------------

 - condret
 - crowell
 - jvoisin
 - maijin
 - xvilka

<{/markdown}>
</div>


<div class="block2">
<{markdown}>
Historical Contributors
-----------------------

- nibble
- dso
- earada
<{/markdown}>
</div>

<div class="block2">
<{markdown}>

Contributors
------------

 - 0xroot
 - Alexander
 - Anton Bolotinksy
 - Glyn Kennington
 - Henrik Nordstrom
 - Julien Nabet
 - NighterMan
 - Riccardo Schirone
 - Sirmy
 - Skia
 - TheLemonMan
 - capi_x
 - cosarara
 - dkreuter
 - dso
 - dx
 - eddyb
 - elektranox
 - esanfelix
 - esteve
 - fenugrec
 - fl4shk
 - graz
 - inisider
 - jfrankowski
 - l0gic
 - milabs
 - montekki
 - neuroflip
 - nion
 - oxff
 - pof
 - pwntester
 - rudi_s
 - rvalles
 - schrotthaufen
 - skuater
 - timstrazz
 - trndr
 - vext01

<{/markdown}>
</div>

<{include}>tail.tmpl<{/include}>
