<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Contact</h1>
</div>

<div class="block2">
<{markdown}>
__Author__: pancake

__Email__: pancake@nopcode.org

__IRC__: #radare at irc.freenode.net

__Twitter__: [@radareorg](http://twitter.com/radareorg)
<{/markdown}>
</div>

<div class="donations">
  <h4>Donations:</h4>
  <{include}>paypal.tmpl<{/include}>
  <a href="bitcoin:1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi?message=donation" class="donate bitcoin">Donate Bitcoins</a>
</div>

<{include}>tail.tmpl<{/include}>

