<{include}>head.tmpl<{/include}>
&nbsp;<h1>Contact</h1>
</div>
<br />

<center>
<div class="block">
<{markdown}>
__Project__: radare

__Email__: pancake@nopcode.org

__IRC__: #radare at irc.freenode.net

__Twitter__: [@radareorg](http://twitter.com/radareorg)
<{/markdown}>
</div>
<div class="block">
<{markdown}>
__Author__: pancake

__Email__: pancake@nopcode.org

__IRC__: pancake/trufae @ irc.freenode.net #radare

__Twitter__: [@trufae](http://twitter.com/trufae)
<{/markdown}>
</div>
</center>

<{include}>tail.tmpl<{/include}>

