<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Contact</h1>
</div>
<br />
<a href="community.html" class="button">Community</a>
<!-- <a href="whouses.html" class="button">Who is using it?</a> -->
<a target="_blank" href="http://radare.today/who-uses-r2/" class="button">Who is using it?</a>
<br />
<a href="license.html" class="button">License</a>
<a href="history.html" class="button">History</a>
<br />

<div class="block2" style="text-align:center">
<{markdown}>
Crowdfunding for the RSoC
=========================

We are looking to implement the following features organizing the Radare
Summer Of Code. We need funding to reward participants of the program
that get those points done.


Participants
------------

We are open to accept participants before 3 May. Send us an e-mail at
[rsoc@radare.org](mailto:rsoc@radare.org). We are organizing the tasks
in this [pad](https://pad.nopcode.org/p/rsoc-tasks)

 For more information see:
[http://radare.org/rsoc/](http://radare.org/rsoc/)

Schedule
--------

- 22 April - participants application open
- 3 May - participants application closes
- 8 May - announce applicants/tasks - start discussing specific
  details of the task
- 17 Jun - start coding (END OF CROWDFUNDING)
- 16 Sep - Pencils down!
- 27 Sep - Everything must be merged in main branch

Donations
---------

You can donate to the crowdfunding program using paypal or bitcoin.
We will use this money to pay contributors. The collected
amounts will be public, the money will not be returned.

Contributors may get the money in their prefered currency (we may trade
to get the money for the desired coin). We are looking to achieve at
least 3000 EUR in order to pay 1000 EUR to each participant.

Current amounts
---------------

Euros: <font color=green>0</font> / 3000 <b>EUR</b>

Bitcoin: <font color=green>0</font> / 10 <b>BTC</b>

<{/markdown}>
</div>
<br />
<div class="donations">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="X9TNRPVJVA2BU">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0"
  name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1"
  height="1">
  </form>
<b style="font-size:13px">rsoc@radare.org</b>
<br />
<br />
  <a title="1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi" href="bitcoin:1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi?message=donation" class="donate bitcoin">Donate Bitcoins</a>
<br />
<b style="font-size:13px">1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi</b>
</div>

<{include}>tail.tmpl<{/include}>

