<{include}>head.tmpl<{/include}>
&nbsp;<h1>Talks</h1>
</div>

<div class="block2">
<{markdown}>
Summercamp Garrotxa 2008 
------------------------
![](http://radare.org/y/t/scg2008/small.png)

[PDF](http://radare.org/y/t/lacon2008/radare-lacon-2008.pdf)

Demoing r2 
<{/markdown}>
</div>

<div class="block2">
<{markdown}>
Lacon 2008
----------
![](http://radare.org/y/t/lacon2008/small.png)

[PDF](http://radare.org/y/t/lacon2008/radare-lacon-2008.pdf)

Enumeration of radare1 features
<{/markdown}>
</div>


<{include}>tail.tmpl<{/include}>
