<{include}>head.tmpl<{/include}>
&nbsp;<h1>Documentation</h1>
</div>

<center>
<div class="block2">
<h3> The book </h3>
<ul>
<li> Original radare1 in <a href="/get/radare-book.pdf">PDF</a> and <a href="#">HTML</a>.
<li> Updated <a href="http://maijin.github.io/radare2book/">book</a> for radare2
<li> Persian <a href="/get/radare2book-persian.pdf">translation</a>
<li> Contribute in <a href="https://github.com/radare/radare2book">Git</a>
</ul>
</div>

<div class="block2">
<h3> Documentation </h3>
<ul>
<li> Checkout the <a href="http://gihtub.com/radare/radare2/wiki">wiki</a> index page
<li> The <a href="/vdoc">VAPI</a> documentation
</ul>
</div>

<div class="block2">
<h3>Blog</h3>
<{markdown}>

- An introduction to the [Visual Mode](http://radare.today/visual-mode/)
- Binary [Diffing](http://radare.today/binary-diffing/)
- [Rop'n'Roll](http://radare.today/ropnroll/)
- [Payloads in C](http://radare.today/payloads-in-c/)
- Displaying [Types](http://radare.today/types/) and formatting data with pf
- Carvin [Binaries](http://radare.today/carving-bins/)

<{/markdown}>
</div>

<div class="block2">
<h3>Scripting</h3>
<{markdown}>
* Generic [r2pipe](http://github.com/radare/radare2/wiki/R2PipeAPI) api
* Javascript and NodeJS [tutorial](http://radare.today/javascript-in-r2/)
* Python bindings (swig, ctypes and [r2pipe](https://github.com/radare/radare2-bindings/tree/master/python))
* Go [r2pipe](https://github.com/radare/radare2-bindings/tree/master/go)
* [Vala](https://wiki.gnome.org/Projects/Vala) and Genie
<{/markdown}>
</div>

<div class="block2">
<h3>Talks</h3>
<{markdown}>

2014

- [PSES](http://www.passageenseine.org/Passage) [PDF](http://radare.org/y/t/pses2014/pses2014_radare2.pdf) [VID]( https://www.youtube.com/watch?v=rrR2Bcyheu4 ) (fr)
- [PHDays](http://2014.phdays.com/) [PDF](http://radare.org/y/t/phd2014/radare2-phdays2014.pdf)
- OWASP Houston [PDF](http://radare.org/y/t/owasp2014/radare_java.pdf) [WWW](http://dso.thecoverofnight.com/posts/2014/04/radare-java-intro/) [WWW2](http://dso.thecoverofnight.com/posts/2014/04/radare-java-artifact-enumeration/)

2013

- [Rooted Labs 2013](https://www.rootedcon.es/rootedlabs/) [PDF](http://radare.org/y/t/rootedlabs2013/rootedlabs2013-radare.pdf)

2011

- Lacon - pancake [PDF](/get/lacon2k11.pdf)
- OggCamp - Reverse Engineering a Shellcode - vext01 [PDF](http://radare.org/get/ogg2011.pdf) [MP4](http://blip.tv/file/get/Oggcamp-ReversingShell888.mp4)
- An Introduction To R2 - l0gic [PDF](http://radare.org/get/r2l0gic2011.pdf)
- [RootedCon 2011](https://www.rootedcon.es/rooted-con-2011/) - pancake, nibble [PDF](http://radare.org/get/rooted2011.pdf)

2010

- NcN [PDF](http://radare.org/get/ncn2010.pdf)
- Lacon [PDF(nibble)](http://radare.org/get/lacon2k10-nibble.pdf) [PDF(pancake)](http://radare.org/get/lacon2k10-pancake.pdf) [SRC(demos)](http://radare.org/get/lacon2k10-demos.tar.gz)
- CampusParty [YouTube](http://www.youtube.com/watch?v=w735mjzNVjI)
- RootedCon [PDF](http://radare.org/get/r2ted.pdf) [M4A](http://radare.org/get/rooted2010.m4a) [TAR](http://radare.org/get/r2ted.tar.gz)

2009

- Messing with R2 API [HTML](http://radare.org/get/lacon-radare-2009)
- Summercamp Garrotxa (SCG 2009) [PDF](http://www.radare.org/get/summer.tar.gz)
- BS3C - practical uses cases [PDF](http://radare.org/get/bs3c2k9.pdf) [SRC](http://radare.org/get/bs3c2k9-demos.tar.gz)
- Generic Data Extraction and Injection - nibble [PDF](http://radare.org/get/bs3c-nibble.pdf)
- Barcelona FiberParty [PDF](http://radare.org/get/rfib2k9.pdf)

2008

- Radare 1.0 Release Party [PDF](http://radare.org/get/rage1.pdf) [MP3](/get/neuroflip-radare1.0-sidparty-20081108.mp3)
- Summercamp Garrotxa 2008 [PDF](http://radare.org/y/t/scg2008/radare-first.pdf)
- Lacon 2008 [PDF](http://radare.org/y/t/lacon2008/radare-lacon-2008.pdf)

<{/markdown}>
</div>

</center>


<{include}>tail.tmpl<{/include}>
