<{include}>head.tmpl<{/include}>
&nbsp;<h1>Documentation</h1>
</div>

<center>
<div class="block2">
<h3> The book </h3>
<ul>
<li> Original radare1 in <a href="/get/radare-book.pdf">PDF</a> and <a href="#">HTML</a>.
<li> Updated book for radaer2
<li> Syrian translation
</ul>
</div>

<div class="block2">
<h3> Documentation </h3>
<ul>
<li> The <a href="http://gihtub.com/radare/radare2/wiki">wiki index page</a>
<li> The <a href="/vdoc">VAPI</a> documentation
</ul>
</div>

<div class="block2">
<h3>Blog</h3>
<{markdown}>

- An introduction to the [Visual Mode](http://radare.today/visual-mode/)
- Binary [Diffing](http://radare.today/binary-diffing/)
- [Rop'n'Roll](http://radare.today/ropnroll/)
- [Payloads in C](http://radare.today/payloads-in-c/)
- Displaying [Types](http://radare.today/types/) and formatting data with pf
- Carvin [Binaries](http://radare.today/carving-bins/)

<{/markdown}>
</div>

<div class="block2">
<h3>Talks</h3>
<{markdown}>

- Summercamp Garrotxa 2008 [PDF](http://radare.org/y/t/lacon2008/radare-lacon-2008.pdf)
- Lacon 2008 [PDF](http://radare.org/y/t/lacon2008/radare-lacon-2008.pdf)

<{/markdown}>
</div>

</center>


<{include}>tail.tmpl<{/include}>
