<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>History</h1>
</div>

<div class="block2">
<{markdown}>
Radare was born in 2006

TODO: blahblahblah
<{/markdown}>
</div>

<{include}>tail.tmpl<{/include}>
