<{include}>head.tmpl<{/include}>
<!--
<img src="img/r2logo2.png">
<img src="img/r2logo2big.png">
-->
<script src="index.js"></script>
	<div class="header">
		<img class="logo" height="127" width="296" src="img/r2logo3.png" alt="Radare2 logo">
		<ul class="logobuttons">
			<li><a href="down.html" id="button_download" class="button">Download Source</a></li>
			<li>
				<a href="down.html" class="button">Source Code</a>
				<a href="http://cloud.radare.org/enyo" target="_blank" class="button">Try</a>
			</li>
		</ul>
	</div>

<!--
<div class="linkbar">
&nbsp;&nbsp;
<br>
</div>
-->
<br>


<div class="block">
<div class="block-mini" style="background-image:url(img/trythumb.jpg)">
<h3>Getting in touch</h3>
<hr>
- <a class="external" target=_blank href="http://cloud.rada.re/enyo">Try</a> r2 online!
<br>
- Join <a href="irc://irc.freenode.net/#radare">freenode</a> #radare
<br>
- Git clone from <a href="http://github.com/radare/radare2">GitHub</a>
<br>
- Run <code>sys/install.sh</code>
<br>
- Fill some <a class="external" target=_blank href="https://github.com/radare/radare2/issues">Bugs</a>.
</div>

<div class="block-mini" style="background-image:url(img/tshirtblur.jpg);background-size:auto">
<h3>Merchandising</h3>
<hr>

<a href="http://camisetasfrikis.es/31-radare">
- Stickers<br>
- T-Shirt<br>
- Hoodies<br>
- Mug<br>
</a>
</div>

<div class="block-mini" style="background-image:url(img/bylines.jpg)">
<h3>RSoC</h3>
<hr>

Our <a href="http://radare.org/rsoc/">Summer Of Code</a>
<br>
- <b>€</b>: 1487
<b>B</b>: 0.6
<b>DG</b>: 123K
<br>
- flirt scanner (DONE)
<br>
- pdb parser (WIP)
<br>
- templates (WIP)
</div>

<div class="block-mini" style="background-image:url(img/docthumb.jpg)">
<h3>Learn More</h3>
<hr>
- Scripting with <a class="external" target=_blank href="http://github.com/radare/radare2/wiki/R2PipeAPI">r2pipe</a>
<br>
- The ESIL specs <a class="external" target=_blank href="http://github.com/radare/radare2/wiki/ESIL">ESIL</a>
<br>
- Read the <a class="external" target=_blank href="http://radare.today/">Blog</a> or
<a class="external" target=_blank href="https://github.com/radare/radare2/wiki">Wiki</a>
<br>
- <a class="external" target=_blank href="http://radare.today/visual-mode/">VisualMode</a> intro
<br>
- Read the <a href="docs.html">Book</a>
</div>

</div>
<br>
<div class="block">
<{markdown}>
Radare is a portable reverse engineering framework that may help you in ...

* Disassembling (and assemble for) many different architectures
* Local native and Remote Debugger (gdb, rap, webui, r2pipe, winedbg, windbg)
* Runs on Linux, *BSD, Windows, OSX, Android, iOS, Solaris and Haiku
* Forensic Filesystem and Carving for Data
* It is written in C and it can be scripted in Python, Javascript, Go and more
* Colaborative analysis using the embedded webserver
* Cryptographic checksumming disk and data images
* Visualize data structures of several file types
* Patch programs to uncover new features or fix vulnerabilities
<{/markdown}>
</div>

<br>
<br>
<div style="text-align:center;right:32px">
<a title="Bitcoin" href="bitcoin:1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi?message=donation"><img class=topbutton src="img/bitcoin-ok64.png" alt="BTC"></a>
<a title="Twitter" target=_blank href="http://twitter.com/radareorg"><img class=topbutton src="img/twitter-ok64.png" alt="Twitter"></a>
<a title="Github" target=_blank href="https://github.com/radare/radare2"><img class=topbutton src="img/github-ok64.png" alt="Github"></a>
</div>

<{include}>tail.tmpl<{/include}>
