<{include}>head.tmpl<{/include}>
<div class="header">
  <img class="logo" height="127" width="296" src="img/r2logo3.png" alt="Radare2 logo">
  <ul class="logobuttons">
    <li><a href="down.html" id="button_download" class="button">Download Binaries</a></li>
    <li>
      <a href="down.html" class="button">Source Code</a>
      <a href="http://cloud.radare.org/enyo" target="_blank" class="button">Try</a>
    </li>
  </ul>
</div>

<br />
<!--
<ul class="logobuttons">
  <li><a href="/con" id="rsoc" class="button yellow">r2con - the radare congress</a></li>
  <li><a href="/gsoc" id="rsoc" class="button yellow">GSoC/RSoC - summer promotion</a></li>
</ul>
<br />
-->
<br />

<div class="block">
<div class="block-maxi">
<a title="Screenshots" href="pics.html"><img src="img/webui.png" width="300px"></a>
<br /> <br />
<center>
<a href="cmp.html" id="button_download" class="button">Comparison Table</a>
</center>
</div>
<div class="block-mini">
<h3>Getting in touch</h3>
<hr>
- <a class="external" target="_blank" href="http://cloud.rada.re/enyo">Try</a> r2 online!
<br>
- Clone from <a href="https://github.com/radare/radare2">GitHub</a>
<br>
- Run <code>sys/install.sh</code>
<br>
- File some <a class="external" target="_blank" href="https://github.com/radare/radare2/issues">Bugs</a>.
</div>

<div class="block-mini">
  <h3>Learn More</h3>
<hr>
- Scripting with <a class="external" target="_blank" href="https://github.com/radare/radare2/wiki/R2PipeAPI">r2pipe</a>
<br>
- Read the <a class="external" target="_blank" href="http://radare.today/">Blog</a> or
<a class="external" target="_blank" href="https://github.com/radare/radare2/wiki">Wiki</a>
<br>
- <a class="external" target="_blank" href="http://radare.today/visual-mode/">VisualMode</a> intro
<br>
- Read the <a href="docs.html">Book</a>
<br />
- Watch <a href="http://radare.tv">radare.tv</a>
</div>

<div class="block-mini">
<h3>Merchandising</h3>
<hr>

<table style="important;width:180px">
<tr>
<td class="tdleft">
- <a href="http://camisetasfrikis.es/31-radare">Stickers</a>
<br />
- <a href="http://camisetasfrikis.es/31-radare">T-Shirts</a>
<br />
- <a href="http://camisetasfrikis.es/31-radare">Hoodies</a>
<br />
- <a href="http://camisetasfrikis.es/31-radare">Mugs</a>
</td><td class="tdleft">
<a href="http://camisetasfrikis.es/31-radare">
<img width=64px height="64px" src="img/cami.png">
</a>
</td>
</tr>
</table>
</a>
</div>

<div class="block-mini">
<h3>Contact</h3>
<hr>
- Mail <a href="mailto:pancake@nopcode.org">me</a> (pancake)
<br>
- Join <a href="irc://irc.freenode.net/#radare">#radare</a> on freenode
<br>
- Join <a href="https://telegram.me/joinchat/ACR-FkEK2owJSzMUYjt_NQ">#radare</a> on Telegram
<br>
- Follow us on <a href="https://twitter.com/radareorg">Twitter</a>
<br>
- Use <a href="http://radaremotttyqiwo.onion">Tor</a>
</div>
</div>

<div class="block">
<{markdown}>
Radare is a portable reversing framework that can...

* Disassemble (and assemble for) many different architectures
* Debug with local native and remote debuggers (gdb, rap, webui, r2pipe, winedbg, windbg)
* Run on Linux, *BSD, Windows, OSX, Android, iOS, Solaris and Haiku
* Perform forensics on filesystems and data carving
* Be scripted in Python, Javascript, Go and more
* Support collaborative analysis using the embedded webserver
* Visualize data structures of several file types
* Patch programs to uncover new features or fix vulnerabilities
* Use powerful analysis capabilities to speed up reversing
* Aid in software exploitation
<{/markdown}>
</div>

<br /><br />
<div>
  <a title="Bitcoin" href="bitcoin:1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi?message=donation"><img class="bottom-link" src="img/bitcoin-ok64.png" alt="Bitcoin"></a>
  <a title="Twitter" target="_blank" href="https://twitter.com/radareorg"><img class="bottom-link" src="img/twitter-ok64.png" alt="Twitter"></a>
  <a title="Github" target="_blank" href="https://github.com/radare/radare2"><img class="bottom-link" src="img/github-ok64.png" alt="Github"></a>
</div>

<{include}>tail.tmpl<{/include}>
