<{include}>head.tmpl<{/include}>

  <div class="header">
    <img class="logo" height="127" width="296" src="img/r2logo3.png" alt="Radare2 logo">
    <ul class="logobuttons">
      <li><a id="button_download" class="button">Download</a></li>
      <li>
        <a class="button" href="down.html" title="Download">Source Code</a>
        <a class="button" href="http://cloud.radare.org/enyo" title="Try Radare2">Try</a>
      </li>
    </ul>
  </div>

<div class="row">
  <div class="col-1-4">
    <div class="block-mini">
      <h3 class="title">Getting in touch</h3>
      <ul>
        <li><a class="external" target="_blank" href="http://cloud.rada.re/enyo">Try</a> r2 online!</li>
        <li>Join <a href="irc://irc.freenode.net/#radare">freenode</a> #radare</li>
        <li>Git clone from <a href="http://github.com/radare/radare2">GitHub</a></li>
        <li>Run <code>sys/install.sh</code></li>
        <li>Fill some <a class="external" target="_blank" href="https://github.com/radare/radare2/issues">bugs</a></li>
      </ul>
    </div>
  </div>

  <div class="col-1-4">
    <div class="block-mini">
      <h3 class="title">Merchandising</h3>
      <a href="http://camisetasfrikis.es/31-radare">
        <ul>
          <li>Stickers</li>
          <li>T-Shirts</li>
          <li>Hoodies</li>
          <li>Mugs</li>
        </ul>
      </a>
    </div>
  </div>

  <div class="col-1-4">
    <div class="block-mini">
      <h3 class="title">RSoC</h3>
      Our <a href="http://radare.org/rsoc/">Summer Of Code</a>
      <ul>
        <li><b>€</b>: 1487 <b>B</b>: 0.6 <b>DG</b>: 123K</li>
        <li>flirt scanner (DONE)</li>
        <li>pdb parser (WIP)</li>
        <li>templates (WIP)</li>
      </ul>
    </div>
  </div>

  <div class="col-1-4">
    <div class="block-mini">
      <h3 class="title">Learn More</h3>
      <ul>
        <li>Scripting with <a class="external" target="_blank" href="http://github.com/radare/radare2/wiki/R2PipeAPI">r2pipe</a></li>
        <li>The ESIL specs <a class="external" target="_blank" href="http://github.com/radare/radare2/wiki/ESIL">ESIL</a></li>
        <li>Read the <a class="external" target="_blank" href="http://radare.today/">Blog</a> or
  <a class="external" target="_blank" href="https://github.com/radare/radare2/wiki">Wiki</a></li>
        <li><a class="external" target="_blank" href="http://radare.today/visual-mode/">VisualMode</a> intro</li>
        <li>Read the <a href="docs.html">Book</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row features">
  <div class="col-1">
<{markdown}>
Radare is a portable reverse engineering framework that may help you in ...

* Disassembling (and assemble for) many different architectures
* Local native and Remote Debugger (gdb, rap, webui, r2pipe, winedbg, windbg)
* Runs on Linux, *BSD, Windows, OSX, Android, iOS, Solaris and Haiku
* Forensic Filesystem and Carving for Data
* It is written in C and it can be scripted in Python, Javascript, Go and more
* Colaborative analysis using the embedded webserver
* Cryptographic checksumming disk and data images
* Visualize data structures of several file types
* Patch programs to uncover new features or fix vulnerabilities
<{/markdown}>
  </div>
</div>

<{include}>tail.tmpl<{/include}>
