<{include}>head.tmpl<{/include}>
<div class="header">
<h1>Jobs</h1>
</div>
<br />
Are you a company looking for a specific role that fits with r2?
<br />
This is the place for publishing your job offers.
<br />
<ul class="logobuttons">
  <li><a href="https://github.com/radare/radare.org/edit/master/r/jobs.tmpl" id="rsoc" class="button yellow">Submit your job offer!</a></li>
</ul>

<br />
<div class="block">
<!--


Edit the text below that is contained between the markdown tags with a
short description of your job offer and a link for contact. Please be
kind and send another PR removing it when closing the position.

Thanks!


-->
<{markdown}>
* [NowSecure](http://nowsecure.applytojob.com/apply/w6sJoFt1tL/Android-Security-Research-Engineer?source=TWIT&referrer=dweinstein@nowsecure.com) Android Security Research Engineer

This position doesn't requires relocation to Chicago, but must be located in the US. Experience with reverse engineering mobile apps and knowledge of the ARM architecture is required. Familiarity with exploit development, understanding security and being proficient in more than one programming language (including Python and/or NodeJS) is required. Click [the link](http://nowsecure.applytojob.com/apply/w6sJoFt1tL/Android-Security-Research-Engineer?source=TWIT&referrer=dweinstein@nowsecure.com) for more details and contact form.
<{/markdown}>
<br />
</div>
</div>
<{include}>tail.tmpl<{/include}>
