<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Contact</h1>
</div>
<br />
<a href="todo.html" id="button_download" class="button">Community</a>
<a href="todo.html" id="button_download" class="button">Who is using it?</a>
<br />
<a href="todo.html" id="button_download" class="button">License</a>
<a href="todo.html" id="button_download" class="button">History</a>
<br />

<div class="block2" style="text-align:center">
<{markdown}>
__Author__: pancake aka [@trufae](https://twitter.com/trufae)

__IRC__: [#radare](irc://irc.freenode.net/radare) at irc.freenode.net

__Twitter__: [@radareorg](https://twitter.com/radareorg)
<{/markdown}>
</div>
<br />
<div class="donations">
  <{include}>paypal.tmpl<{/include}>
<b style="font-size:13px">pancake@nopcode.org</b>
<br />
<br />
  <a title="1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi" href="bitcoin:1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi?message=donation" class="donate bitcoin">Donate Bitcoins</a>
<br />
<b style="font-size:13px">1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi</b>
</div>

<{include}>tail.tmpl<{/include}>

