<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Contact</h1>
</div>
<br />
<a href="rsoc.html" class="button">RSoC/Crowdfunding</a>
<br />
<a href="community.html" class="button">Community</a>
<!-- <a href="whouses.html" class="button">Who is using it?</a> -->
<a target="_blank" href="http://radare.today/who-uses-r2/" class="button">Who is using it?</a>
<br />
<a href="license.html" class="button">License</a>
<a href="history.html" class="button">History</a>
<br />

<div class="block2" style="text-align:center">
<{markdown}>
__Author__: pancake aka [@trufae](https://twitter.com/trufae)

__IRC__: [#radare](irc://irc.freenode.net/radare) at irc.freenode.net

__Telegram__: [r2irc](https://t.me/radare) as @pancake

__Twitter__: [@radareorg](https://twitter.com/radareorg)
<{/markdown}>
</div>
<br />
<div class="donations">
  <{include}>paypal.tmpl<{/include}>
  <a title="1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi" href="bitcoin:1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi?message=donation" class="donate bitcoin">Donate Bitcoins</a>
<br />
<b style="font-size:13px">1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi</b>
</div>

<{include}>tail.tmpl<{/include}>

