<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Screenshots</h1>
</div>

<{markdown}>
The new WebUI

[![img](img/webui.png)](img/webui.png)

Press <spacebar>

[![img](img/webui-graph.png)](img/webui-graph.png)

[Bokken](http://www.bokken.re) (pygtk gui)

[![img](img/bokken.png)](img/bokken.png)

Visual Linux/ARM Debugger

[![img](img/debug.png)](img/debug.png)

Interactive ASCII-Art Graph

[![img](img/r2cg.png)](img/r2cg.png)

Colorful Flags

[![img](img/pxa.png)](img/pxa.png)

Interactive Assembler (VA)

[![img](img/writeasm.png)](img/writeasm.png)

3D Stereograms (VA)

[![img](img/r2p3.png)](img/r2p3.png)

List Sections

[![img](img/sections.png)](img/sections.png)

Self-Documented

[![img](img/r2help.png)](img/r2help.png)
<{/markdown}>

<{include}>tail.tmpl<{/include}>
