<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Screenshots</h1>
</div>

<{markdown}>
The new WebUI

[![img](img/webui.png)](img/webui)

Press <spacebar>

[![img](img/webui-graph.png)](img/webui-graph.png)

Visual Linux/ARM Debugger

[![img](img/debug.png)](img/debug.png)

Interactive ASCII-Art Graph

[![img](img/graph.png)](img/graph.png)

Colorful Flags

[![img](img/pxa.png)](img/pxa.png)

Interactive Assembler (VA)

[![img](img/writeasm.png)](img/writeasm.png)

List Sections

[![img](img/sections.png)](img/sections.png)

<{/markdown}>

<{include}>tail.tmpl<{/include}>
