<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Screenshots</h1>
</div>

<{markdown}>
![img](img/webui.png)

![img](img/webui-graph.png)

![img](img/debug.png)

![img](img/graph.png)

![img](img/pxa.png)

![img](img/writeasm.png)

![img](img/sections.png)

<{/markdown}>

<{include}>tail.tmpl<{/include}>
