<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>RSoC Crowdfunding</h1>
</div>
<br />
<div class="block3" style="border-top:0px">
<{markdown}>
We are again hosting the Radare Summer of Code in 2015!

The radare maintainers have selected the features that users have been asking for,
and anyone can volunteer to help us complete a task!

We are looking forward to work with you, and need funding to provide bounties
for completed tasks.

In addition, the [Openwall](http://www.openwall.org) project which got selected by
the GSoC, [decided](http://www.openwall.com/lists/announce/2015/03/10/1) to collaborate
with us by being our umbrella organization to participate into the [Google Summer Of Code](http://www.google-melange.com/gsoc/homepage/google/gsoc2015).

Thanks @solardiz!

Participants
------------

We will be accepting project proposals until May 3rd, 2015. Send us an email at
[rsoc@radare.org]( mailto:rsoc@radare.org ) to apply. We are organizing the tasks
in this [pad]( https://pad.nopcode.org/p/rsoc-tasks )

For more information see:
[http://radare.org/rsoc/]( http://radare.org/rsoc/ )

Schedule
--------

- 22 April - participants application open
- 3 May - participants application closes
- 8 May - announce applicants/tasks - start discussing specific details of the task
- 17 Jun - start coding (END OF CROWDFUNDING)
- 16 Sep - Pencils down!
- 27 Sep - Everything must be merged in main branch

Donations
---------

You can donate to the crowdfunding program using paypal or bitcoin.
We will use this money to pay contributors for completed tasks. The collected
amounts will be public. Any unused money
will go towards future "Summer of Codes" or other costs to the project.

Contributors will receive their money in their preferred currency. The organizers
will work to convert the donations to your preferred local or digital currency.
We are hoping to raise 3000 EUR, with a goal of providing 3 selected participants with 1000 EUR each.

Current amounts
---------------
<{/markdown}>

Euros: <font color=green>626</font> / 3000 <b>EUR</b>
<br />
Bitcoin: <font color=green>0</font> / 10 <b>BTC</b>

</div>
<br />
<div class="donations">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="X9TNRPVJVA2BU">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0"
  name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1"
  height="1">
  </form>
<b style="font-size:13px">rsoc@radare.org</b>
<br />
<br />
  <a title="1RSoCpEyUsTiphPD9ZbHywxku4DPkKdgs" href="bitcoin:1RSoCpEyUsTiphPD9ZbHywxku4DPkKdgs?message=donation" class="donate bitcoin">Donate Bitcoins</a>
<br />
<b style="font-size:13px">1RSoCpEyUsTiphPD9ZbHywxku4DPkKdgs</b>
</div>

<{include}>tail.tmpl<{/include}>

