<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>RSoC Crowdfunding</h1>
</div>
<br />
<div class="block3" style="border-top:0px">
<{markdown}>
We are again hosting the Radare Summer of Code in 2016!

The radare maintainers have selected the features that users have been asking for,
and anyone can volunteer to help us complete a task!

We are looking forward to work with you, and need funding to provide bounties
for completed tasks.

Participants
------------

We will be accepting project proposals until June 13, 2016. Send us an email at
[rsoc@radare.org]( mailto:rsoc@radare.org ) to apply. Here is the [template of application](https://docs.google.com/document/d/1kDPGgr_D5tQuYLQi_gEGlkuQ-DlU8GH5kDBqZbVSC7I/edit?usp=sharing)
(same as we've used for GSoC).

For more information about available tasks see:
[http://radare.org/gsoc/2016/ideas.html]( http://radare.org/gsoc/2016/ideas.html )
Be careful to not to choose tasks already accepted in Google Summer of Code!

Schedule
--------

- May 25 - Begin applications
- June 13 - End of application acceptance
- June 15 - Announce the selected students
- June 17 - Start coding!
- July 30 - Midterm evaluation
- Sept 16 - “Pencils down” - final term evaluation
- Sept 27 - Code must be merged into radare2 repo, master branch

Donations
---------

You can donate to the crowdfunding program using paypal or bitcoin.
We will use this money to pay contributors for completed tasks. The collected
amounts will be public. Any unused money
will go towards future "Summer of Codes" or other costs to the project.

Contributors will receive their money in their preferred currency. The organizers
will work to convert the donations to your preferred local or digital currency.
We are hoping to raise $20000 , with a goal of providing 4 selected participants with $5000 each.

Current amounts
---------------
<{/markdown}>

Euros: <font color=green>0</font> / 20000 <b>USD</b>
<br />
Bitcoin: <font color=green>0</font> / 0 <b>BTC</b>

</div>
<br />
<div class="donations">
  <a title="RSoC 2016 IndieGoGo crowdfunding" href="https://igg.me/at/rsoc2016">Donate at IndieGoGo!</a>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="X9TNRPVJVA2BU">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0"
  name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1"
  height="1">
  </form>
  <b style="font-size:13px">rsoc@radare.org</b>
  <br />
  <br />
  <a title="1RSoCpEyUsTiphPD9ZbHywxku4DPkKdgs" href="bitcoin:1RSoCpEyUsTiphPD9ZbHywxku4DPkKdgs?message=donation" class="donate bitcoin">Donate Bitcoins</a>
  <br />
  <b style="font-size:13px">1RSoCpEyUsTiphPD9ZbHywxku4DPkKdgs</b>
</div>

<{include}>tail.tmpl<{/include}>

