<{include}>head.tmpl<{/include}>
<div class="header">
	<h1>Images</h1>
</div>

<center>
<br />
<{markdown}>
![img](img/debug.png)

![img](img/graph.png)

![img](img/pxa.png)

![img](img/callgraph.png)

![img](img/writeasm.png)

![img](img/2048.png)

![img](img/sections.png)

![img](img/define.png)

[![img](img/tshirt.jpg)](http://camisetasfrikis.es/31-radare)
<{/markdown}>
</center>

<{include}>tail.tmpl<{/include}>
