<{include}>head.tmpl<{/include}>
&nbsp;<h1>Images</h1>
</div>
<br />

<center>
<img class="slideimage" src="img/debug.png"> </img>
<img class="slideimage" src="img/graph.png">
<img class="slideimage" src="img/pxa.png">
<img class="slideimage" src="img/callgraph.png">
<img class="slideimage" src="img/writeasm.png">
<img class="slideimage" src="img/2048.png">
<img class="slideimage" src="img/sections.png">
<img class="slideimage" src="img/define.png">
<img class="slideimage" src="img/tshirt.jpg">
</center>

<{include}>tail.tmpl<{/include}>
