<{include}>head.tmpl<{/include}>
&nbsp;<h1>Screenshots</h1>
</div>
<br />

<center>
<div class="center_block">
<div class="slideshow">
<img class="slideimage" src="img/debug.png">
<img class="slideimage" src="img/tshirt.jpg">
</div>

<{include}>tail.tmpl<{/include}>
