body {
    font-family: 'Fira Sans', 'Verdana', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.comparison {
    width: 640px;
}
.main {
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
}
html > body .main {
    margin-top: 50px;
    /* fixed menu height except for ie6-7 */
    
    margin-left: 0px;
    border: 0px;
}
ul {
    list-style: url('img/tick16.png');
}
div::-webkit-scrollbar {
    display: none;
}
div {
    -ms-overflow-style: none;
    overflow-x: hidden;
}
div::-webkit-scrollbar {
    display: none;
}
body > img {
    border: 0;
}
p > a > img {
    border: 0;
    width: 490px;
    margin-bottom: 32px;
}
@media all and (max-width: 500px) {
    p > a > img {
        width: 300px;
    }
}
h1 {
    margin: 0;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}
h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}
h3 {
    margin-top: 0;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
hr {
    width: 100%;
    color: #f0f0f0;
    size: 1px;
}
pre {
    font-family: 'Fira Mono', 'Courier';
    overflow-x: auto;
    overflow-y: hidden;
}
a {
    color: #179AB2;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
.external {
    color: #179ab2
}
.external:hover {
    font-weight: bold;
    color: black;
}
.header {
    background-color: #383a47;
    text-align: center;
}
.logobuttons,
.logo {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}
.logo {
    height: 127px;
}
.logobuttons {
    margin: 10px;
}
.logobuttons li {
    display: block;
    list-style: none;
    list-style-image: none;
}
.button {
    display: inline-block;
    border: 1px solid white;
    transition: background-color 0.3s ease;
    color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
    background-image: none;
    -webkit-appearance: none;
    padding: 5px 20px;
    font-size: 1.2em;
    font-family: 'Fira Sans', 'Verdana';
    font-weight: normal;
    zoom: 1;
    *display: inline;
    background-color: #007a92;
}
.button:hover {
    background-color: #179ab2;
    color: white;
    cursor: pointer;
}
.block,
.block2,
.block-mini {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    width: 350px;
    border: 0;
    vertical-align: top;
    text-align: left;
}
.block-maxi {
text-align:left;
    display: inline-block;
    zoom: 1;
float:left;
    *display: inline;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    border: 0;
    vertical-align: top;
    text-align: left;
}
.block {
    font-size: 0.8em;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 700px;
}
.block2 {
    text-align: justify;
    font-size: 0.8em;
}
.block3 {
    width: 630px;
    margin: auto;
    text-align: justify;
    font-size: 0.8em;
}
.block-mini {
    margin: 3px;
    width: 160px;
    height: 155px;
    border: 0;
    padding: 3px;
    background-color: #f0f0f0;
}
.block-mini h3 {
    text-align: center;
}
.icons {
    text-align: center;
}
.icon {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0px;
    width: 80px;
    height: 100px;
    border: 0;
    padding: 3px;
    vertical-align: top;
    background-color: white;
    text-align: center;
}
.bottom-link {
    width: 32px;
    height: 32px;
}
/* Navigation */

.menubar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: 0;
    background: #fff;
    overflow:hidden;
    border-bottom: 0px solid #383a47;
}
.rtopbutton {
    padding: 10px 12px;
    float: left;
    opacity: .2;
    transition: opacity 0.3s ease;
}
.rtopbutton:hover {
    opacity: 1;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    list-style: none;
    zoom: 1;
    *display: inline;
}
nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    min-width: 80px;
    _width: 80px;
    text-align: center;
}
nav a:hover {
    background-color: #37bad2;
    color: white;
}
.code {
    font-size: 13px;
    padding: 5px;
    background-color: #333;
    border-radius: 5px;
    color: white;
    width: 700px;
}
.b {
    color: #87ceeb;
}
.r {
    color: #cd5c5c;
}
.y {
    color: #ffffcc;
}
.donations {
    width: 100%;
    text-align: center;
}
.donate {
    display: inline-block;
    margin: 5px;
    color: #383a47;
    border-radius: 5px;
    border: 2px solid #383a47;
    padding: 10px 40px 7px 20px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    zoom: 1;
    *display: inline;
    font-family: 'Fira Sans', 'Verdana', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.paypal {
    display: block !important;
    padding-right: 32px;
    text-align: left;
    height: 32px;
}
.paypal:hover {
    color: #0131bf;
    border-color: #0131bf;
}
.paypal:before {
    display: inline-block;
    content: '';
    background: url('img/donations.png') no-repeat center center;
    background-position: 0 0;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: 0 10px;
    zoom: 1;
    *display: inline;
}
.paypal:hover:before {
    display: inline-block;
    content: '';
    background: url('img/donations.png') no-repeat center center;
    background-position: -32px 0;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: 0 10px;
    zoom: 1;
    *display: inline;
}
.bitcoin:hover {
    color: #b55b00;
    border-color: #b55b00;
}
.bitcoin:before {
    display: inline-block;
    content: '';
    background: url('img/donations.png') no-repeat center 15px;
    background-position: 0 -32px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: 0 10px;
    zoom: 1;
    *display: inline;
}
.bitcoin:hover:before {
    display: inline-block;
    content: '';
    background: url('img/donations.png') no-repeat center center;
    background-position: -32px -32px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: 0 10px;
    zoom: 1;
    *display: inline;
}
@media all and (max-width: 720px) {
    .comparison {
        width: 90%;
    }
    .block3 {
        width: 99%;
    }
    .block {
        width: 350px;
    }
    .logobuttons {
        padding: 0;
    }
    .code {
        width: 128%;
    }
}

@media all and (max-width: 520px) {
    nav a {
        padding: 0 5px;
        min-width: 50px;
        font-size: 14px;
    }
    .block-mini { width: 80%; margin: 3px 10%; }
    .code { width: 128%; }
}

@media all and (max-width: 430px) {
    nav a {
        padding: 0 5px;
        min-width: 10px;
        font-size: 13px;
    }
}

@media all and (max-width: 400px) {
    ul {
        margin-left: -16px;
    }
    .block {
        width: 180px;
        min-width: 0px;
        padding: 0;
        margin: 0 auto;
    }
    .block2 {
        width: 280px;
        min-width: 0px;
        padding: 0;
        margin: 0 auto;
    }
    .block-mini {
        width: 80%;
        margin: 3px 10%;
    }
}
.hidden {
    visibility: hidden;
}
td {
    text-align: center;
}
.tdleft {
    text-align: left;
}
thead > td {
    background-color: #909090;
}
table {
    width: 78%;
}
.y {
    color: #00a000;
    font-weight: bold;
}
.z {
    color: #a0a0a0;
}
.n {
    color: #c00000;
    font-weight: bold;
}
thead {
    background-color: #303030;
    text-align: center;
    color: white;
}
.releases {
    width: 280px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}
