.scroll-wrapper{
    overflow-x: auto;
}
div::-webkit-scrollbar { 
     display: none; 
}
div {
      -ms-overflow-style: none;
}
div::-webkit-scrollbar { 
    display: none; 
}
img {
	border: 0px;
}
h1 {
	color: white;
margin-top:0px;
	padding-top:0px;
	padding-bottom:10px;
}
a {
	color:#6264f5;
	font-weight:bold;
	text-decoration: none;
}
a:hover {
	color:#2224f5;
	font-weight:bold;
}
.external {
	color:#5254e5 !important;
}
.external:hover {
	font-weight:bold;
	color: black !important;
}
.rtopbutton {
	left:0px;
	position:fixed!important;
	border-right:10px;
background-color:white;
padding-left:5px;
	height:32px;
	top:5px;
	z-index: 9999;
	position:absolute;
}
.fade img:hover{
	opacity: 0.7;
	transition: opacity 0.3s ease;
}
.logo {
	height: 240px !important;
}
.logo img {
	height:127px;
	position:absolute;
	top: 47px;
padding-left:0px;
	right:auto !important;
left:0;
	margin-left:15px !important;
}
.logo ul {
	text-align:left;
	position:absolute;
	left: 0%;
	top: 160px;
	list-style:none;
}
.logobuttons {
	top: 150px !important;
	left: 0.5% !important;
}
body {
	font-family: 'Fira Sans', 'Verdana';
	margin:0px;
	overflow-x: hidden;
}
.padding {
	width:40px;
}
.menubar {
	overflow: hidden;
	position:fixed;
	z-index:1;
	top:0px;
	width:100%;
	background-color:white;
	font-size: 0.9em;
	padding-top:10px;
	word-spacing:0.8em;
	padding-left:10px;
	height:35px;
	border-bottom: 1px solid #383a47;
	white-space:nowrap;
	display:inline-block;
}
.menubar img {
	height:30px;
}
.menubar ul {
	position:absolute;
	top: 0px;
	left:0px;
	display:inline-block;
}
.menubar li {
	display:inline-block;
}
.main {
	margin-top: 45px;
	background-color:#383a47;
	text-align:center;
}
input, .button {
	border: 1px solid white ;
	transition: background-color 0.3s ease;
	color: white;
	border-radius: 5px;
	margin-bottom: 5px;
	background-image: none;
	-webkit-appearance: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.2em;
	font-family: 'Fira Sans', 'Verdana';
	background-color:#383a47;
}
input:hover {
	background-color: white;
	color:black;
	cursor:pointer;
}
.icon {
	display:inline-block;
	margin:3px;
	width:80px !important;
        height:100px;
	border: 0px;
	padding:3px;
	vertical-align:top;
	background-color: white;
	text-align:center;
}
.block-mini {
	display:inline-block;
	border-radius: 5px;
	margin:3px;
	width:155px !important;
      height:155px;
	border: 0px solid #a8aaa7;
	padding:3px;
	vertical-align:top;
	background-color: #f0f0f0;
background-image: url() !important;
	text-align:left;
}

.block {
	display:inline-block;
	margin:5px;
	font-size: 0.8em;
	padding:15px;
	border-radius: 5px;
	width:350px !important;
	border: 1px solid #383a47;
	vertical-align:top;
	text-align:left;
}
.block3 {
	display:inline-block;
	margin:5px;
	font-size: 0.8em;
	padding:15px;
	border-radius: 5px;
	width:750px !important;
	border: 1px solid #383a47;
	vertical-align:top;
	text-align:justify;
}
.block2 {
	display:inline-block;
	margin:5px;
	font-size: 0.8em;
	padding:15px;
	border-radius: 5px;
	width:350px !important;
	border: 1px solid #383a47;
	vertical-align:top;
	text-align:justify;
}
.center_block {
	display:inline-block;
	margin:5px;
	font-size: 0.8em;
	padding:15px;
	border-radius: 5px;
	width:250px !important;
	border: 1px solid #383a47;
	vertical-align:top;
	text-align:left;
}

h2 {
	margin-bottom:0px;
	padding-bottom:0px;
}

h3 {
	margin-top:0px;
	border-bottom:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

hr {
	width:100%;
	color:#f0f0f0;
	size:1px;
}

.slideshow {
	height: 250px;
	overflow: hidden;
}

pre {
	font-family: 'Fira Mono', 'Courier';
	overflow-x:auto;
	overflow-y: hidden;
}

.topbutton {
	width:32px;
	height:32px;
}

.slideimage {
	border-radius: 5px;
	margin-bottom:16px;
}

@media all and (min-width: 600px) {
	.logo {
		height:130px !important;
	}
	.logo, .logobuttons {
		top: 50px !important;
		left: 50% !important;
	}
	.logo img {
		height:127px !important;
	       right: 50% !important;
	      left:auto !important;
	       text-align:center !important;
	}
}
@media all and (max-width:400px) {
	.block {
		width:260px !important;
	}
	.block-mini {
		width:250px !important;
	}
}
@media all and (max-width:500px) {
	.block2 {
		width:260px !important;
	}
	.slideimage {
		width:300px !important;
	}
}
@media all and (max-width:800px) {
	.block3 {
		width: 80% !important;
	}
}

@media all and (min-width: 800px) {
	.block {
		width: 700px !important;
	}
	.block {
		width: 700px !important;
	}
	.center_block {
		width: 580px !important;
	}
	.slideshow {
		height: 300px;
		width: 580px !important;
		overflow-x: auto;
	}
	.slideimage {
		width:640;
	}
	.logo {
		height:130px !important;
	}
	.logo, .logobuttons {
		top: 50px !important;
		left: 50% !important;
	}
	.logo img {
		height:127px !important;
	       right: 50% !important;
	      left:auto !important;
	       text-align:center !important;
	}
	ul {
		top: 0px !important;
	}
}

li:before {
   display: inline-block;
   height: 16;
   width: 16;
   overflow:hidden;
   background-width: 16px;
   background-image: url();
}

ul {
	list-style-image: url('img/tick16.png');
}

.signature {
	text-align: right;
	margin-right: 15px;
	font-size:0.8em;
}

.linkbar {
text-align:right;
	background-color:#585a67;
	color: white;
}
.linkbar a {
	color:#bcbcff;
}

.code {
	padding: 5px;
	background-color: #333;
	border-radius: 5px;
	color: white;
}
.b{ color:#87ceeb; }
.r{ color:#cd5c5c; }
.y{ color:#ffffcc; }
