img {
	border: 0px;
}
h1 {
	color: white;
	padding-top:10px;
	padding-bottom:50px;
}
a {
	color:#727485;
	text-decoration: none;
}
a:hover {
	font-weight:bold;
}
.fade img:hover{
	opacity: 0.6;
	transition: opacity 0.3s ease;
}
.logo {
	height:130px;
}
.logo img {
	height:127px;
	position:absolute;
	right: 50%;
	top: 47px;
}
.logo ul{
	text-align:left;
	position:absolute;
	left: 50%;
	top: 50px;
	list-style:none;
}
body {
	font-family: 'Fira Sans', 'Verdana';
	margin:0px;
	overflow-x: hidden;
}
.menubar {
	position:fixed;
	z-index:1;
	top:0px;
	width:100%;
	background-color:white;
	font-size: 0.9em;
	padding-top:10px;
	word-spacing:0.8em;
	padding-left:10px;
	height:35px;
	border: 1px solid #383a47;
	white-space:nowrap;
	display:inline-block;
}
.menubar img {
	height:30px;
}
.menubar ul {
	position:absolute;
	top: 0px;
	left:75px;
	display:inline-block;
}
.menubar li {
	display:inline-block;
}
.main {
	margin-top: 45px;
	background-color:#383a47;
	text-align:center;
}
input, .button {
	border: 1px solid white ;
	transition: background-color 0.3s ease;
	color: white;
	border-radius: 5px;
	margin-bottom: 5px;
	background-image: none;
	-webkit-appearance: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.2em;
	font-family: 'Fira Sans', 'Verdana';
	background-color:#383a47;
}
input:hover {
	background-color: white;
	color:black;
	cursor:pointer;
}
.block {
	display:inline-block;
	margin:5px;
	font-size: 0.8em;
	padding:15px;
	border-radius: 5px;
	width:250px !important;
	border: 1px solid #383a47;
	vertical-align:top;
	text-align:left;
}
.block2 {
	display:inline-block;
	margin:5px;
	font-size: 0.8em;
	padding:15px;
	border-radius: 5px;
	width:250px !important;
	border: 1px solid #383a47;
	vertical-align:top;
	text-align:justify;
}
.center_block {
	display:inline-block;
	margin:5px;
	font-size: 0.8em;
	padding:15px;
	border-radius: 5px;
	width:250px !important;
	border: 1px solid #383a47;
	vertical-align:top;
	text-align:left;
}

h3 {
	margin-top:0px;
}
.slideshow {
	height: 250px;
	overflow: hidden;
}

pre {
	font-family: 'Fira Mono', 'Courier';
	overflow-x:auto;
	overflow-y: hidden;
}

.topbutton {
	width:32px;
	height:32px;
}

.slideimage {
	border-radius: 5px;
}

@media all and (min-width: 800px) {
	.block, .block2 {
		width: 700px !important;
	}
	.center_block {
		width: 75% !important;
	}
	.slideshow {
		height: 400px;
		width: 800px !important;
		overflow-x: scroll;
		margin-left: 100px;
	}
	.slideimage {
		width:800px;
	}
}

li:before {
   display: inline-block;
   height: 16;
   width: 16;
   overflow:hidden;
   background-width: 16px;
   background-image: url();
}

ul {
	list-style-image: url('img/tick16.png');
}

.signature {
	text-align: right;
	margin-right: 15px;
}

.linkbar {
	background-color:#585a67;
	color: white;
}
.linkbar a {
	color:white;
}
