      <div class="footer">
        <a title="Bitcoin" href="bitcoin:1R4daREx3gYpYJ87KqWRahzFHVfZMQVBi?message=donation"><img src="img/bitcoin-ok64.png" alt="BTC"></a>
        <a title="Twitter" target="_blank" href="http://twitter.com/radareorg"><img  src="img/twitter-ok64.png" alt="Twitter"></a>
        <a title="Github" target="_blank" href="https://github.com/radare/radare2"><img src="img/github-ok64.png" alt="Github"></a>
      </div>

    </div><!-- .main -->
  </body>
</html>
