<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Talks</h1>
</div>

<div class="block2">
<{markdown}>
2015
----
- Emulating Code with ESIL at Lacon 2015 [PDF](/get/lacon2k15-esil.pdf)
- [RECon 2015](http://recon.cx/2015/schedule/events/49.html) [PDF](/get/recon2015.pdf)
- [Nuit du hack 2015](https://nuitduhack.com/en/workshops.html#radare2) [PDF](/get/ndh2015-maijin.pdf)
- Another radare2 introduction [PDF](/get/condret-r2talk.pdf)
- [linux.au](https://linux.conf.au) [PDF](/get/r2embed-auckland2015.pdf) [VID]( https://www.youtube.com/watch?v=R3sGlzXfEkU ) (au)

<{/markdown}>
</div>

<div class="block2">
<{markdown}>
2014
----

- [PSES](http://www.passageenseine.org/Passage) [PDF](http://radare.org/y/t/pses2014/pses2014_radare2.pdf) [VID]( https://www.youtube.com/watch?v=rrR2Bcyheu4 ) (fr)
- [PHDays](http://2014.phdays.com/) [PDF](http://radare.org/y/t/phd2014/radare2-phdays2014.pdf)
- [OWASP Houston](https://www.owasp.org/index.php/Houston) [PDF](http://radare.org/y/t/owasp2014/radare_java.pdf) [WWW](http://dso.thecoverofnight.com/posts/2014/04/radare-java-intro/) [WWW2](http://dso.thecoverofnight.com/posts/2014/04/radare-java-artifact-enumeration/)
- [hack.lu](http://2014.hack.lu/index.php/List#Radare2.2C_a_Concrete_Alternative_to_IDA_-_workshop) [PDF](http://bin.radare.today/radare2_lightingtalk_hacklu2014.pdf) [Materials](http://dustri.org/b/files/hacklu2014_r2_exploitation.tar.xz)
- [ZeroNights](http://2014.zeronights.org/conference/workshops.html)
<{/markdown}>
</div>

<div class="block2">
<{markdown}>
2013
----

- [Rooted Labs 2013](https://www.rootedcon.es/rootedlabs/) [PDF](http://radare.org/y/t/rootedlabs2013/rootedlabs2013-radare.pdf)

<{/markdown}>
</div>
<div class="block2">
<{markdown}>
2011
----

- Lacon - pancake [PDF](/get/lacon2k11.pdf)
- OggCamp - Shellcode - vext01 [PDF](http://radare.org/get/ogg2011.pdf) [MP4](http://blip.tv/file/get/Oggcamp-ReversingShell888.mp4)
- An Introduction To R2 - l0gic [PDF](http://radare.org/get/r2l0gic2011.pdf)
- [RootedCon 2011](https://www.rootedcon.es/rooted-con-2011/) - pancake, nibble [PDF](http://radare.org/get/rooted2011.pdf)

<{/markdown}>
</div>
<div class="block2">
<{markdown}>
2010
----

- NcN [PDF](http://radare.org/get/ncn2010.pdf)
- Lacon [PDF-nibble](http://radare.org/get/lacon2k10-nibble.pdf) [PDF-pancake](http://radare.org/get/lacon2k10-pancake.pdf) [demos](http://radare.org/get/lacon2k10-demos.tar.gz)
- CampusParty [YouTube](https://www.youtube.com/watch?v=w735mjzNVjI)
- RootedCon [PDF](http://radare.org/get/r2ted.pdf) [M4A](http://radare.org/get/rooted2010.m4a) [TAR](http://radare.org/get/r2ted.tar.gz)

<{/markdown}>
</div>
<div class="block2">
<{markdown}>
2009
----

- Messing with R2 API [HTML](http://radare.org/get/lacon-radare-2009)
- Summercamp Garrotxa (SCG 2009) [PDF](http://www.radare.org/get/summer.tar.gz)
- BS3C - practical uses cases [PDF](http://radare.org/get/bs3c2k9.pdf) [SRC](http://radare.org/get/bs3c2k9-demos.tar.gz)
- Generic Data Extraction and Injection - nibble [PDF](http://radare.org/get/bs3c-nibble.pdf)
- Barcelona FiberParty [PDF](http://radare.org/get/rfib2k9.pdf)
<{/markdown}>
</div>
<div class="block2">
<{markdown}>

2008
----

- Radare 1.0 Release Party [PDF](http://radare.org/get/rage1.pdf) [MP3](/get/neuroflip-radare1.0-sidparty-20081108.mp3)
- Summercamp Garrotxa 2008 [PDF](http://radare.org/y/t/scg2008/radare-first.pdf)
- Lacon 2008 [PDF](http://radare.org/y/t/lacon2008/radare-lacon-2008.pdf)

<{/markdown}>
</div>

<{include}>tail.tmpl<{/include}>
