<{include}>head.tmpl<{/include}>
<div class="header">
  <h1>Who uses r2?</h1>
</div>

<div class="block2">
<{markdown}>
http://radare.today/who-uses-r2/
<{/markdown}>
</div>

<{include}>tail.tmpl<{/include}>
